table.diff {
  width: 100%;

  thead th {
    &.line-number {
      width: 4%;
    }

    &.line-content {
      width: 42%;
    }
  }

  tbody td {
    /* padding: 0.5em; */

    width: 42%;
    padding-top: 3px;
    padding-bottom: 4px;
    vertical-align: top;
    border-right: 5px solid white;
    line-height: 26px;

    &.line-number {
      width: 4%;
      border-right: none;
      padding-right: 10px;
    }

    &.number {
      text-align: right;
      @include core-19($tabular-numbers: true);
    }

    &.removal {
      background-color: rgba(255,0,0,0.1);

      strong {
        background-color: rgba(255,0,0,0.25);
        font-weight: normal;
      }
    }
    &.addition {
      background-color: rgba(0,255,0,0.1);

      strong {
        background-color: rgba(0,255,0,0.25);
        font-weight: normal;
      }
    }
  }
}
