.diff {
  margin-bottom: govuk-spacing(6);

  .page-column-headings + table {
      caption {
          padding-top: govuk-spacing(3);
      }
  }

  table {
    @include govuk-font(14);
    @include media(tablet) {
      @include govuk-font(19);
    }

    width: 100%;

    caption {
      font-weight: bold;
      text-align: left;
      padding: govuk-spacing(6) 0 govuk-spacing(2);
    }

    tbody tr {
      border-bottom: 6px solid white;
    }

    td {
      padding-top: 3px;
      padding-bottom: 4px;
      vertical-align: top;
      border-right: none;
      @include media(tablet) {
        border-right: govuk-spacing(1) solid govuk-colour('white');
      }

      &.line-non-existent {
          background-color: $highlight-colour;
      }

      &.removal {
        background-color: #FEE5E5;

        del {
          background-color: #FDABAB;
          font-weight: normal;
        }
      }
      &.addition {
        background-color: #E5FEE5;

        ins {
          background-color: #ABFDAB;
          font-weight: normal;
          text-decoration: none;
        }
      }

      &.line-number {
        @include govuk-font($size: 14, $tabular: true);
        text-align: right;
        float: left;
        clear: both;
        width: 3%;
        padding-right: 1%;
        border-right: none;

        @include media(tablet) {
          @include govuk-font($size: 19, $tabular: true);
          float: none;
        }
      }

      @include media(tablet) {
        &.line-number-removal {
          background-color: #FEE5E5;
        }
        &.line-number-addition {
          background-color: #E5FEE5;
        }
      }

      &.line-content {
        width: 95%;
        padding-left: 1%;
        float: right;
        white-space: pre-wrap;

        @include media(tablet) {
          width: 41%;
          float: none;
        }
      }
    }
  }
}
