@import "_grid_layout.scss";
@import "_conditionals.scss";
@import "_measurements.scss";

.footer-categories, .footer-meta {
  @extend %grid-row;
}

.footer-meta {
  padding: 0 $gutter-half;
  @include media(tablet) {
    padding: 0;
  }
  /* Temporary fix:
     chrome is breaking this layout when font-size-adjust is set */
  font-size-adjust: none;
}
