@import "grid_layout";
@import "colours";

#global-header-bar {
  background: $red;
}

.page-container {
  @extend %site-width-container;
  padding-bottom: $gutter * 2;
}

.grid-row {
  @extend %grid-row;
  clear: both;
}

.third-column {
  @include grid-column(1/3);
}

.two-third-column {
  @include grid-column(2/3);
}

.page-section {
  margin-bottom: $gutter;
}
