@import "grid_layout";
@import "colours";

#global-header-bar {
  background: govuk-colour('red');
}

#wrapper {
  @extend %site-width-container;
  padding-bottom: govuk-spacing(9);
}

.page-section {
  margin-bottom: govuk-spacing(6);
}
