@import "grid_layout";
@import "colours";

#global-header-bar {
  background: $red;
}

#wrapper {
  @extend %site-width-container;
  padding-bottom: $gutter * 2;
}

.page-section {
  margin-bottom: $gutter;
}
