// Reset styles on core HTML elements that might be injected by eg a user's browser, so that we have a known clean base
// for DM styles to build on.
@import "toolkit/shared_scss/_reset.scss";

$path: "/admin/static/images/";

// Digital Marketplace Front-end toolkit shared CSS placeholders used by other DM toolkit styles
@import "toolkit/shared_placeholders/_dm-typography.scss";
@import "toolkit/shared_placeholders/_mixins.scss";
@import "toolkit/shared_placeholders/_placeholders.scss";
@import "toolkit/shared_placeholders/_temporary-messages.scss";

// Digital Marketplace Front-end toolkit shared styles between multiple apps
@import "shared_scss/_reset.scss";
@import "shared_scss/_dmspeak.scss";

// Digital Marketplace Front-end toolkit styles
@import "toolkit/_breadcrumb";
@import "toolkit/_browse-list";
@import "toolkit/_contact-details.scss";
@import "toolkit/_document.scss";
@import "toolkit/_footer";
@import "toolkit/_grids";
@import "toolkit/_notification-banners";
@import "toolkit/_page-headings";
@import "toolkit/_phase-banner";
@import "toolkit/_previous-next-navigation";
@import "toolkit/_proposition-header";
@import "toolkit/_report-a-problem.scss";
@import "toolkit/_secondary-action-link";
@import "toolkit/_service-id";
@import "toolkit/forms/_hint";
@import "toolkit/forms/_list-entry";
@import "toolkit/forms/_pricing";
@import "toolkit/forms/_questions";
@import "toolkit/forms/_selection-buttons";
@import "toolkit/forms/_summary";
@import "toolkit/forms/_textboxes";
@import "toolkit/forms/_validation";
@import "toolkit/forms/_word-counter";
@import "toolkit/forms/_option-select";
@import "toolkit/forms/_keyword-search";
@import "toolkit/_user-research-consent-banner.scss";

// GOV.UK Design System (compatible with old toolkit/elements)
$govuk-assets-path: '/admin/static/';
$govuk-images-path: '/admin/static/images/';
$govuk-fonts-path: '/admin/static/fonts/';
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govuktemplate: true;
$govuk-compatibility-govukelements: true;
@import "node_modules/govuk-frontend/all";

// App specific styles
@import "_layout";
@import "_c3";  // Graphs
@import "_diff.scss";
@import "views/statistics";
@import "views/list_agreements";

// Overrides
@import "overrides/_notifications_banner";

// Misc styles
// TODO: Move misc styling into their own partial files or the Digital Marketplace FE Toolkit
.padding-bottom-small {
  padding-bottom: 10px;
}

.border-image {
  width: 100%;
  border: 5px solid #dee0e2;
}

.lead {
  margin-bottom: 20px;
}

.search-summary-border-bottom {
  padding: 0 0 $gutter-half;
  margin: 0 0 $gutter-half;
  border-bottom: 1px solid $border-colour;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.search-summary {
  padding-bottom: 20px;
  font-size: 24px;

}

.break-email {
  word-break: break-all;
}

.question + .secondary-action-link {
  margin-top: -36px;
  margin-bottom: 40px;
}

.summary-item-field-heading, .summary-item-field {
  padding-left: 10px;
}

.five-columns-table {
  .summary-item-field-first, .summary-item-field {
    @include media(1080px) {
      white-space: nowrap;
    }
  }
}

// These styles are to customise the country picker widget supplied by registers. The country picker's styles are
// included in a separate stylesheet which is brought in by the country picker npm package. This makes is difficult
// to update the source, so we do it here. It's important that the country picker's style sheet is loaded in the
// template before our own CSS, so the styles defined here override and take precedence.
#location-autocomplete, .autocomplete__hint {
  padding: 9px;
}

.location-autocomplete-fallback {
  @include core-19;
  width: 100%;
  height: 42px;
}
