$path: "/admin/static/images/";

// Temporary needed until all components have migrated to govuk-frontend
// and elements which need to be styled should have class names associated to them
@import "overrides/govuk-template/_govuk-template";

// Digital Marketplace Front-end toolkit shared CSS placeholders used by other DM toolkit styles
@import "toolkit/shared_placeholders/_dm-typography.scss";
@import "toolkit/shared_placeholders/_mixins.scss";
@import "toolkit/shared_placeholders/_placeholders.scss";
@import "toolkit/shared_placeholders/_temporary-messages.scss";

// Digital Marketplace Front-end toolkit styles
@import "toolkit/_browse-list";
@import "toolkit/_contact-details.scss";
@import "toolkit/_document.scss";
@import "toolkit/_notification-banners";
@import "toolkit/_previous-next-navigation";
@import "toolkit/_proposition-header";
@import "toolkit/_service-id";
@import "toolkit/forms/_hint";
@import "toolkit/forms/_list-entry";
@import "toolkit/forms/_pricing";
@import "toolkit/forms/_questions";
@import "toolkit/forms/_selection-buttons";
@import "toolkit/forms/_summary";
@import "toolkit/forms/_textboxes";
// remove when no longer used in validation messages for fields
@import "toolkit/forms/_validation";
@import "toolkit/forms/_word-counter";
@import "toolkit/forms/_option-select";
@import "toolkit/forms/_keyword-search";

// GOV.UK Design System (compatible with old toolkit/elements)
$govuk-assets-path: '/admin/static/';
$govuk-images-path: '/admin/static/images/';
$govuk-fonts-path: '/admin/static/fonts/';
$govuk-compatibility-govukfrontendtoolkit: true;
$govuk-compatibility-govukelements: true;
// $govuk-global-styles Only affects the font colour of <a> without govuk-link class
// and padding/font size of any <p> without govuk-body classname
// https://github.com/alphagov/govuk-frontend/blob/v2.13.0/src/settings/_global-styles.scss
// https://github.com/alphagov/govuk-frontend/blob/v2.13.0/src/core/_global-styles.scss
$govuk-global-styles: true;
@import "node_modules/digitalmarketplace-govuk-frontend/govuk-frontend/all";

// Digital Marketplace Components
@import "node_modules/digitalmarketplace-govuk-frontend/digitalmarketplace/all";

// App specific styles
@import "_diff.scss";
@import "views/list_agreements";

// Overrides
@import "overrides/_notification-banner";

// Misc styles
// TODO: Move misc styling into their own partial files or the Digital Marketplace FE Toolkit
.border-image {
  width: 100%;
  border: govuk-spacing(1) solid #dee0e2;
}

.search-summary-border-bottom {
  padding: 0 0 govuk-spacing(3);
  margin: 0 0 govuk-spacing(3);
  border-bottom: 1px solid $govuk-border-colour;

  em {
    font-style: normal;
    font-weight: bold;
  }
}

.search-summary {
  padding-bottom: govuk-spacing(4);
  @include govuk-font(24);
}

.break-email {
  word-break: break-all;
}

.summary-item-field-heading, .summary-item-field {
  padding-left: govuk-spacing(2);
}

.five-columns-table {
  .summary-item-field-first, .summary-item-field {
    @include media(1080px) {
      white-space: nowrap;
    }
  }
}

// These styles are to customise the country picker widget supplied by registers. The country picker's styles are
// included in a separate stylesheet which is brought in by the country picker npm package. This makes is difficult
// to update the source, so we do it here. It's important that the country picker's style sheet is loaded in the
// template before our own CSS, so the styles defined here override and take precedence.
.autocomplete__input, .autocomplete__hint {
  padding: 9px;
}

.location-autocomplete-fallback {
  @include govuk-font(19);
  width: 100%;
  height: 42px;
}
