$path: "/admin/static/images/";

// Digital Marketplace front end toolkit components
@import "forms/_option-select.scss";
@import "forms/_keyword-search.scss";

// Digital Marketplace Front-end toolkit styles
@import "toolkit/grids";
@import "toolkit/breadcrumb";
@import "toolkit/browse-list";
@import "toolkit/buttons";
@import "toolkit/forms/hint";
@import "toolkit/forms/list-entry";
@import "toolkit/forms/questions";
@import "toolkit/forms/selection-buttons";
@import "toolkit/forms/summary";
@import "toolkit/forms/textboxes";
@import "toolkit/forms/validation";
@import "toolkit/forms/word-counter";
@import "toolkit/link-button";
@import "toolkit/notification-banners";
@import "toolkit/page-headings";
@import "toolkit/previous-next-navigation";
@import "toolkit/secondary-action-link";

/* Blocks shared between multiple selectors */
@import "shared_placeholders/_temporary-messages.scss";

// Admin app styles
@import "_reset";
@import "_layout";
@import "_grids";

@import "patterns/service-id";
@import "patterns/pricing";

// Blocks shared between multiple selectors
@import "shared_placeholders/_temporary-messages.scss";

// Layout of specific views
@import "views/view_service";
@import "views/edit_section";
@import "views/view_audits";
@import "_diff.scss";
@import "views/statistics";
@import "views/view_declaration";

// Graphs
@import "_c3";
