-e git+https://github.com/AusDTO/dto-digitalmarketplace-content-loader.git@1.5.1#egg=dto-digitalmarketplace-content-loader==1.5.1
-e git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@master#egg=dto-digitalmarketplace-utils
-e git+https://github.com/AusDTO/dto-digitalmarketplace-apiclient.git@master#egg=dto-digitalmarketplace-apiclient

-e .

pytest
pep8==1.5.7
nose
mock==1.0.1
requests-mock
lxml
cssselect
watchdog
coverage
pytest-cov
python-coveralls
blinker
rollbar
responses
