<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Your Digital Marketplace invitation</title>
</head>
<body>
	<p>Dear {{ name }},</p>

	<p>We have added you as a contributor to {{ supplier }}. Please <a href="{{ url }}">sign in</a> to continue the application to join the Digital Marketplace.</p>

	<p>The sellers guide has tips & hints for creating compelling <a href="https://marketplace.service.gov.au/sellers-guide#case-studies">case studies</a> and you can get <a href="https://marketplace.service.gov.au/contact-us">in touch</a> if you need further assistance from our team.

	<p>We look forward to welcoming you on the Digital Marketplace.</p>
</body>
</html>
