{% import "toolkit/summary-table.html" as summary %}

{% with %}
  {% set address_value %}
    {% if company_details.address %}
      {%
        with
        street_address_line_1 = company_details.address.street_address_line_1,
        street_address_line_2 = company_details.address.street_address_line_2,
        locality = company_details.address.locality,
        postcode = company_details.address.postcode,
        country = company_details.address.country|sub_country_codes
      %}
        {% include "toolkit/contact-details.html" %}
      {% endwith %}
    {% else %}
      {{ company_details.address }}
    {% endif %}
  {% endset %}

  {%
    call(item)
      summary.list_table(
        [
          {"name": "Company registered name", "value": company_details.registered_name, "edit_link": url_for('.edit_supplier_registered_name', supplier_id=supplier.id)},
          {"name": "Company registration number", "value": company_details.registration_number, "edit_link": url_for('.edit_supplier_registered_company_number', supplier_id=supplier.id)},
          {"name": "DUNS Number", "value": company_details.duns_number, "edit_link": url_for('.edit_supplier_duns_number', supplier_id=supplier.id)},
          {"name": "Address", "value": address_value, "edit_link": url_for('.edit_supplier_registered_address', supplier_id=supplier.id) }
        ],
        caption=caption,
      )
  %}
    {% call summary.row() %}
      <td class="summary-item-field-heading-custom" scope="row"><strong><span>{{item.name}}</span></strong></td>
      {{ summary.text(item.value or "None") }}
      {% if current_user.has_role('admin-ccs-data-controller') %}
      <td class="summary-item-field"><a href="{{ item.edit_link }}">Change</a></td>
      {% endif %}
    {% endcall %}
  {% endcall %}
{% endwith %}
