{% import "toolkit/summary-table.html" as summary %}
{% with
    pass_values = q_content.get('assessment', {}).get('passIfIn', []),
    discretionary = q_content.get('assessment', {}).get('discretionary')
%}
    {% if pass_values %}
        {% with pass_fail = 'Pass' if (q.value in pass_values) else ('Discretionary' if discretionary else 'Fail') %}
          {% if multiquestion %}
            <p class="govuk-body">{{ pass_fail }}</p>
          {% else %}
            {{ summary.text(pass_fail)}}
          {% endif %}
        {% endwith %}
    {% else %}
        {% if not multiquestion %}
          {{ summary.text('Not applicable') }}
        {% endif %}
    {% endif %}
{% endwith %}
