{% import "toolkit/summary-table.html" as summary %}

{%
  call(item)
    summary.list_table(
      supplier_frameworks|reverse,
      caption="Frameworks",
      empty_message="The supplier does not yet have any framework interests."
    )
%}
  {% call summary.row() %}
    <td class="summary-item-field-heading-custom" scope="row"><strong><span>{{item.framework.name}}</span></strong></td>
   {{ summary.edit_link("View services", url_for(".find_supplier_services", supplier_id=supplier_id,) + "#{}_services".format(item.framework.slug)) }}
   {{ summary.edit_link("View agreements", url_for(".view_signed_agreement", supplier_id=supplier_id, framework_slug=item.framework.slug)) }}
  {% endcall %}
{% endcall %}
