{% extends "_base_page.html" %}

{% block pageTitle %}
  DUNS number – {{ supplier.name }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": supplier.name,
        "href": url_for('.supplier_details', supplier_id=supplier.id)
      },
      {
        "text": "DUNS number"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl">Change the DUNS number for ‘{{supplier.name}}’</h1>
  <p class="govuk-body">You need to contact <a class="govuk-link" href="mailto:cloud_digital@crowncommercial.gov.uk ">cloud_digital@crowncommercial.gov.uk </a> to change a supplier DUNS number.</p>
  <br /><a class="govuk-link" href="{{ url_for('.supplier_details', supplier_id=supplier.id) }}">Return to ‘{{ supplier.name }}’ company details</a></p>
    </div>
</div>
{% endblock %}
