{% extends "_base_page.html" %}

{% block pageTitle %}
  Change registered company name – {{ supplier.name }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": supplier.name,
        "href": url_for('.supplier_details', supplier_id=supplier.id)
      },
      {
        "text": "Change registered company name"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Update registered company name for ‘{{supplier.name}}’</h1>
  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        {{ form.registered_company_name }}

        {{ govukButton({
          "text": "Save"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
