{% import 'toolkit/forms/macros/forms.html' as forms %}

{% extends "_base_page.html" %}

{% block page_title %}
  Change {{ framework.name }} declaration - Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
          {
              "link": url_for('.supplier_details', supplier_id=supplier.id),
              "label": supplier.name
          },
          {
              "label": "{} declaration".format(framework.name)
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="service-title">
      {%
        with
        context = supplier.name,
        heading = section.name,
        smaller = True
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
  </div>

  <form method="post" enctype="multipart/form-data">
    <div class="grid-row">
      <div class="column-two-thirds">
       <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        {% for question in section.questions %}
          {{ forms[question.type](question, declaration, {}) }}
        {% endfor %}

        {{ govukButton({
          "text": "Save and return to summary"
        }) }}
        <p>
          <a href="{{ url_for('.view_supplier_declaration', supplier_id=supplier.id, framework_slug=framework.slug) }}">Return without saving</a>
        </p>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
