{% import 'toolkit/forms/macros/forms.html' as forms %}

{% extends "_base_page.html" %}

{% block page_title %}
  Change {{ framework.name }} declaration - Digital Marketplace admin
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": supplier.name,
        "href": url_for('.supplier_details', supplier_id=supplier.id)
      },
      {
        "text": "{} declaration".format(framework.name)
      }
    ]
  }) }}
{% endblock %}

{% block main_content %}
  <span class="govuk-caption-l">{{ supplier.name }}</span>
  <h1 class="govuk-heading-l">{{ section.name }}</h1>

  <form method="post" enctype="multipart/form-data">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        {% for question in section.questions %}
          {{ forms[question.type](question, declaration, {}) }}
        {% endfor %}

        {{ govukButton({
          "text": "Save and return to summary"
        }) }}
        <p>
          <a class="govuk-link" href="{{ url_for('.view_supplier_declaration', supplier_id=supplier.id, framework_slug=framework.slug) }}">Return without saving</a>
        </p>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
