{% extends "_base_page.html" %}
{% import "toolkit/forms/macros/forms.html" as forms %}

{% block page_title %}
  Change registered company address – {{ supplier.name }} – Digital Marketplace admin
{% endblock %}
{% block head %}
  <link type="text/css" rel="stylesheet" media="screen" href="{{ asset_fingerprinter.get_url('stylesheets/location-autocomplete.min.css') }}"/>
  {{ super() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": supplier.name,
        "href": url_for('.supplier_details', supplier_id=supplier.id)
      },
      {
        "text": "Change registered company address"
      }
    ]
  }) }}
{% endblock %}

{% block main_content %}
  {% include 'toolkit/forms/validation.html' %}
  <h1 class="govuk-heading-xl">Update registered company address for ‘{{supplier.name}}’</h1>
  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        {{ form.street }}
        {{ form.city }}
        {{ form.postcode }}
        {% if form.country.errors %}

          <div class="validation-wrapper">
            {# TODO remove inline styles #}
            <style>
              #location-autocomplete {border: 5px solid #B10E1E;}
              .autocomplete__hint {border: 5px solid;}
            </style>
        {% endif %}

          <div class="question" id="country">
            <span class="question-heading" id="country-label">Country</span>
            {{ forms.field_errors(form.country.name, errors=form.country.errors) }}
            <select name="country" id="location-autocomplete" class="location-autocomplete-fallback">
            {% if not form.country.data %}
              <option value="" selected="selected"></option>
            {% endif %}
            {% for country in countries %}
              <option value="{{country[1]}}"{% if form.country.data == country[1]%} selected="selected"{% endif %}>{{country[0]}}</option>
            {% endfor %}
            </select>
          </div>
        {% if form.country.errors %}
          </div>
        {% endif %}

        {{ govukButton({
          "text": "Save"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="{{ asset_path }}javascripts/location-autocomplete.min.js"></script>
  <script type="text/javascript" src="{{ asset_path }}javascripts/app-location-autocomplete.js"></script>
{% endblock %}
