{% import 'macros/toolkit_forms.html' as forms %}

{% extends "_base_page.html" %}

{% block page_title %}
  Change {{ framework.name }} declaration
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="service-title">
      {%
        with
        context = supplier.name,
        heading = section.name,
        smaller = True
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
  </div>

  <form method="post" enctype="multipart/form-data">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ form.csrf_token }}
        {% for question in section.questions %}
          {{ forms[question.type](question, declaration, {}) }}
        {% endfor %}
        {%
          with
          type = "save",
          label = "Save and return to summary"
        %}
          {% include "toolkit/button.html" %}
        {% endwith %}
        <p>
          <a href="{{ url_for('.view_supplier_declaration', supplier_code=supplier.code, framework_slug=framework.slug) }}">Return without saving</a>
        </p>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
