{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
  View {{ framework.name }} declaration - Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
          {
              "link": url_for('.supplier_details', supplier_id=supplier.id),
              "label": supplier.name
          },
          {
              "label": "{} declaration".format(framework.name)
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="service-title">
      {%
        with
        context = supplier.name,
        heading = framework.name + " declaration",
        smaller = True
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}
    </div>
  </div>
  {% call summary.mapping_table(
    caption="Application status",
    field_headings_visible=False
  ) %}
    {% call summary.row() %}
      {{ summary.field_name("Application status") }}
      {{ summary.text("Pass" if supplier_framework.onFramework else ("Fail" if supplier_framework.onFramework is sameas false else "Pending")) }}
    {% endcall %}
  {% endcall %}

  {% for section in content.summary(declaration) %}
    {{ summary.heading(section.name) }}
    {{ summary.top_link("Edit", url_for('.edit_supplier_declaration_section', supplier_id=supplier.id, framework_slug=framework.slug, section_id=section.id), hidden_text=section.name) }}
    {% call(item) summary.list_table(
      section.questions,
      caption="Declaration",
      empty_message="This supplier not made a declaration",
      field_headings=[
        'Question number',
        'Declaration question',
        'Declaration answer',
        'Pass/Fail'
      ]
    ) %}
      {% call summary.row() %}
        {{ summary.text(question_content[item.id].number) }}
        {{ summary.field_name(item.question) }}
        {{ summary[item.type](item.value) }}

        {% if item.type == 'multiquestion' %}
            {% call summary.field() %}
            <div class="multiquestion">
            {% for question in item.questions %}
                {% with q=question, q_content=question_content[question.id], multiquestion=True %}
                    <p>{% include "suppliers/_declaration_pass_fail.html" %}</p>
                {% endwith %}
            {% endfor %}
            </div>
            {% endcall %}
        {% else %}
            {% with q=item, q_content=question_content[item.id], multiquestion=False %}
                {% include "suppliers/_declaration_pass_fail.html" %}
            {% endwith %}
        {% endif %}
      {% endcall %}
    {% endcall %}
  {% endfor %}

{% endblock %}
