{% extends "_base_page.html" %}

{% block page_title %}
  Countersign {{ framework.name }} agreement for {{ supplier_framework.declaration.nameOfOrganisation }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
    {%
    with items = [
        {
            "link": url_for('.index'),
            "label": "Admin home"
        },
        {
            "link": url_for('.list_agreements', framework_slug=framework.slug),
            "label": "%s agreements" | format(framework.name)
        },
        ]
    %}
        {% include "toolkit/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block main_content %}
<div class='grid-row'>
  <div class="column-one-whole">
    {%
        with
        heading = supplier_framework.declaration.nameOfOrganisation,
        smaller = True
    %}
    {% include "toolkit/page-heading.html" %}
    {% endwith %}
  </div>
</div>
<div class='grid-row'>
  <div class="column-one-third">
      <h2>Registered address</h2>
      <ul class="padding-bottom-small">
          <li>{{ supplier_framework.declaration.registeredAddressBuilding or supplier_framework.declaration.supplierRegisteredBuilding }}</li>
          <li>{{ supplier_framework.declaration.registeredAddressTown or supplier_framework.declaration.supplierRegisteredTown }}</li>
          <li>{{ supplier_framework.declaration.registeredAddressPostcode or supplier_framework.declaration.supplierRegisteredPostcode }}</li>
      </ul>

      <h2>Company number</h2>
      <div class="padding-bottom-small">
          {%
          with
              text = supplier_framework.declaration.companyRegistrationNumber or supplier_framework.declaration.supplierCompanyRegistrationNumber,
              link = "https://beta.companieshouse.gov.uk/company/%s" | format(supplier_framework.declaration.companyRegistrationNumber or supplier_framework.declaration.supplierCompanyRegistrationNumber),
              target = "_blank"
          %}
          {% include "toolkit/external-link.html" %}
          {% endwith %}
      </div>

      <h2>Appointment is to</h2>
      <ul class="padding-bottom-small">
        {% for lot_slug, lot_name in lot_slugs_names.items() %}
          <li>{{ lot_name }}</li>
        {% endfor %}
      </ul>

      <h2>Signed by</h2>
      <p class="padding-bottom-small">
          {{ supplier_framework.agreementDetails.signerName}}, {{ supplier_framework.agreementDetails.signerRole }}
      </p>

      <h2>Uploaded by</h2>
      <p class="padding-bottom-small">
          {{ supplier_framework.agreementDetails.uploaderUserName }}
          <br>
          <span class="break-email">
              {{ supplier_framework.agreementDetails.uploaderUserEmail }}
          </span>
          <br>
          {{ supplier_framework.agreementReturnedAt|datetimeformat }}
      </p>

      {% if supplier_framework.agreementStatus in ['approved', 'countersigned'] %}
        <h2>Accepted by</h2>
        <p class="padding-bottom-small">
          {{ supplier_framework.countersignedDetails.approvedByUserName }}
          <br>
          {{ supplier_framework.countersignedAt|datetimeformat }}
        </p>
        {% if current_user.has_role('admin-ccs-sourcing') and supplier_framework.agreementStatus == 'approved' %}
        <form action="{{ url_for('.unapprove_agreement_for_countersignature', agreement_id=supplier_framework.agreementId, next_status=next_status) }}" method="post">
          <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
          <input name="nameOfOrganisation" value="{{ supplier_framework.declaration.nameOfOrganisation }}" type="hidden">
          {%
            with
            type = "destructive",
            label = "Cancel acceptance"
          %}
            {% include "toolkit/button.html" %}
          {% endwith %}
        </form>
        {% endif %}
      {% elif current_user.has_role('admin-ccs-sourcing') %}
        <form action="{{ url_for('.approve_agreement_for_countersignature', agreement_id=supplier_framework.agreementId, next_status=next_status) }}" method="post">
          <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
          <input name="nameOfOrganisation" value="{{ supplier_framework.declaration.nameOfOrganisation }}" type="hidden">
          {%
            with
            type = "save",
            label = "Accept and continue"
          %}
            {% include "toolkit/button.html" %}
          {% endwith %}
        </form>
        {% if supplier_framework.agreementStatus != 'on-hold' %}
          <form action="{{ url_for('.put_signed_agreement_on_hold', agreement_id=supplier_framework.agreementId, next_status=next_status) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input name="nameOfOrganisation" value="{{ supplier_framework.declaration.nameOfOrganisation }}" type="hidden">
            {%
              with
              type = "secondary",
              label = "Put on hold and continue"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
          </form>
        {% endif %}
      {% endif %}
      <p class="padding-bottom-small">
        {%
          with
          url = url_for(".next_agreement", framework_slug=framework.slug, supplier_id=supplier.id, status=next_status),
          text = "Next agreement"
        %}
          {% include "toolkit/secondary-action-link.html" %}
        {% endwith %}
      </p>
  </div>

  <div class="column-two-thirds">
      {% if agreement_ext == '.pdf' %}
          <embed src="{{ agreement_url }}" class="border-image" height="930" type="application/pdf">
      {% else %}
          <img src="{{ agreement_url }}" class="border-image" >
      {% endif %}
  </div>
{% endblock %}
