{% extends "_base_page.html" %}

{% block pageTitle %}
  Countersign {{ framework.name }} agreement for {{ supplier_framework.declaration.nameOfOrganisation }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "{} agreements".format(framework.name),
        "href": url_for('.list_agreements', framework_slug=framework.slug)
      },
      {
        "text": "Countersign framework agreements"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
<h1 class="govuk-heading-l">{{ company_details.registered_name }}</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
      <h2>Registered address</h2>
      <ul class="govuk-list">
          <li>{{ company_details.address.street_address_line_1 }}</li>
          <li>{{ company_details.address.locality }}</li>
          <li>{{ company_details.address.postcode }}</li>
      </ul>

      <h2>Company number</h2>
      <p class="govuk-body">
        {% if company_details.registered_with == "companies_house" %}
          {%
          with
              text = company_details.registration_number,
              link = "https://beta.companieshouse.gov.uk/company/%s" | format(company_details.registration_number),
              target = "_blank"
          %}
          {% include "toolkit/external-link.html" %}
          {% endwith %}
        {% else %}
          {{ company_details.registration_number }}
        {% endif %}
      </p>

      <h2>Appointment is to</h2>
      <ul class="govuk-list">
        {% for lot_slug, lot_name in lot_slugs_names.items() %}
          <li>{{ lot_name }}</li>
        {% endfor %}
      </ul>

      <h2>Signed by</h2>
      <p class="govuk-body">
        {{ supplier_framework.agreementDetails.signerName}}, {{ supplier_framework.agreementDetails.signerRole }}
      </p>

      <h2>Uploaded by</h2>
      <p class="govuk-body">
        {{ supplier_framework.agreementDetails.uploaderUserName }}
        <br>
        <span class="break-email">
          {{ supplier_framework.agreementDetails.uploaderUserEmail }}
        </span>
        <br>
        {{ supplier_framework.agreementReturnedAt|datetimeformat }}
      </p>

      {% if supplier_framework.agreementStatus in ['approved', 'countersigned'] %}
        <h2>Accepted by</h2>
        <p class="govuk-body">
          {{ supplier_framework.countersignedDetails.approvedByUserName }}
          <br>
          {{ supplier_framework.countersignedAt|datetimeformat }}
        </p>
        {% if current_user.has_role('admin-ccs-sourcing') and supplier_framework.agreementStatus == 'approved' %}
          <form action="{{ url_for('.unapprove_agreement_for_countersignature', agreement_id=supplier_framework.agreementId, next_status=next_status) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input name="nameOfOrganisation" value="{{ supplier_framework.declaration.nameOfOrganisation }}" type="hidden">
            {{ govukButton({
              "classes": "govuk-button--warning",
              "text": "Cancel acceptance"
            }) }}
          </form>
        {% endif %}
      {% elif current_user.has_role('admin-ccs-sourcing') %}
        <form action="{{ url_for('.approve_agreement_for_countersignature', agreement_id=supplier_framework.agreementId, next_status=next_status) }}" method="post">
          <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
          <input name="nameOfOrganisation" value="{{ supplier_framework.declaration.nameOfOrganisation }}" type="hidden">
          {{ govukButton({
            "text": "Accept and continue"
          }) }}
        </form>
        {% if supplier_framework.agreementStatus != 'on-hold' %}
          <form action="{{ url_for('.put_signed_agreement_on_hold', agreement_id=supplier_framework.agreementId, next_status=next_status) }}" method="post">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            <input name="nameOfOrganisation" value="{{ supplier_framework.declaration.nameOfOrganisation }}" type="hidden">
            {{ govukButton({
              "classes": "govuk-button--secondary",
              "text": "Put on hold and continue"
            }) }}
          </form>
        {% endif %}
      {% endif %}
      <a class="govuk-link govuk-link--no-visited-state"
         href="{{ url_for('.next_agreement', framework_slug=framework.slug, supplier_id=supplier.id, status=next_status) }}">
        Next agreement
      </a>
  </div>

  <div class="govuk-grid-column-two-thirds">
      {% if agreement_url %}
          {% if agreement_ext == '.pdf' %}
              <embed src="{{ agreement_url }}" class="border-image" height="930" type="application/pdf">
          {% else %}
              <img src="{{ agreement_url }}" class="border-image" >
          {% endif %}
      {% else %}
            <p class="govuk-body">Agreement file not available.</p>
      {% endif %}
  </div>
{% endblock %}
