.service-id {


  padding: 5px 10px;
  margin: 0 5px 0 0;
  display: inline-block;
  background: $grey;
  border: 1px solid $grey;
  color: $body-text-colour;

  span {

    padding-right: 5px;

    &:last-child {
      padding-right: 0;
    }

  }

}
