{% if current_user.role == "admin" %}
  {% set page_title = "Edit supplier accounts or view services" %}
{% elif current_user.role == "admin-ccs-category" %}
  {% set page_title = "Edit suppliers and services" %}
{% elif current_user.role == "admin-ccs-sourcing" %}
  {% set page_title = "Edit supplier declarations" %}
{% elif current_user.role == "admin-framework-manager" %}
  {% set page_title = "View suppliers and services" %}
{% elif current_user.role == "admin-ccs-data-controller" %}
  {% set page_title = "Search for suppliers" %}
{% endif %}

{% extends "_base_page.html" %}

{% block page_title %}
  {{ page_title }} - Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": page_title
      }
    ]
  }) }}
{% endblock %}

{% block main_content %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  {% set supplierNameHtml %}
    <form action="{{ url_for('.find_suppliers') }}" method="get" class="question">
      {%
        with
        question = "Find a supplier by name",
        name = "supplier_name",
        hint = "Enter any part of the supplier’s registered name or trading name."
      %}
        {% include "toolkit/forms/textbox.html" %}
      {% endwith %}

      {{ govukButton({
        "name": "find_supplier_by_name_search",
        "text": "Search"
      }) }}
    </form>
  {% endset %}

  {% set dunsNumberHTtml %}
    <form action="{{ url_for('.find_suppliers') }}" method="get" class="question">
      {%
        with
        question = "Find a supplier by DUNS number",
        name = "supplier_duns_number",
        hint = "DUNS numbers are usually 9 digits long, for example, 234554321"
      %}
        {% include "toolkit/forms/textbox.html" %}
      {% endwith %}

      {{ govukButton({
        "name": "find_supplier_by_duns_number_search",
        "text": "Search"
      }) }}
    </form>
  {% endset %}

  {% set companyRegHtml %}
    <form action="{{ url_for('.find_suppliers') }}" method="get" class="question">
      {%
        with
        question = "Find a supplier by company registration number",
        name = "supplier_company_registration_number",
        hint = "Company registration numbers are usually 8 digits long, for example, 34881131"
      %}
        {% include "toolkit/forms/textbox.html" %}
      {% endwith %}

      {{ govukButton({
        "name": "find_supplier_by_company_registration_number_search",
        "text": "Search"
      }) }}
    </form>
  {% endset %}

  {% set pageTabs = [
    {
      "label": "Name",
      "id": "supplier-name",
      "panel": {
        "html": supplierNameHtml
      }
    },
    {
      "label": "DUNS Number",
      "id": "duns-number",
      "panel": {
        "html": dunsNumberHTtml
      }
    },
    {
      "label": "Company registration number",
      "id": "company-registration-number",
      "panel": {
        "html": companyRegHtml
      }
    }
  ]%}

  {% if current_user.has_any_role('admin', 'admin-ccs-category', 'admin-framework-manager')  %}
    {# Add Service tab if user is meant to have access #}
    {% set serviceIdHtml %}
      <form action="{{ url_for('.find_service') }}" method="get" class="question">
        {%
          with
          question = "Find a service by service ID",
          name = "service_id",
          hint = "For example 123456789012345"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "name": "find_service_by_id_search",
          "text": "Search"
        }) }}
      </form>
    {% endset %}

    {% set pageTabs = pageTabs + [{
      "label": "Service ID",
      "id": "service-id",
      "panel": {
        "html": serviceIdHtml
      }
    }]%}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{ govukTabs({
        "title": "Search",
        "items": pageTabs
      }) }}
    </div>
  </div>
{% endblock %}
