#react-bundle-applications-admin {
    max-width: 960px;
    margin: 0 auto;
    * h2 {
        font-size: 2rem;
        margin: 1rem 0rem;
    }
    * table {
        margin-left: 0;
        border-spacing: 0.3rem 0.7rem;
        tr {
            td, th { padding: 0.1rem 2rem 0.1rem 0;  }
            th { text-align: left }
        }
    }
}
