@import "search/_search-summary.scss";
@import "search/_search-result.scss";

.search-page-filters {
  .status-filters {
    h2 {
      @include govuk-font(19, $weight: bold);
    }

    ul {
      @include govuk-font(16);
      list-style: none;
      padding-left: 0;
      margin: 5px 0 $gutter;
    }
  }
}
