#framework-statistics-big-screen {

  position: relative;
  background: $govuk-blue;
  color: $white;
  box-shadow: 0 0 0 100em $govuk-blue;
  padding-bottom: 100em;
  z-index: 1000;

  .summary-item-body {
    margin-bottom: 100%;
  }

  .summary-item-field {
    @include bold-80;
  }

  .summary-item-field-first,
  .summary-item-field-heading-first {
    display: none;
  }

  .summary-item-field-heading {
    @include core-24;
  }

  .summary-item-row {
    border-top: none;
  }

  table.summary-item-body tbody td {
    padding-top: 0;
  }

  .summary-item-row {

    display: none;

    &:first-child {
      display: table-row;
    }

    td {
      position: relative;
      left: -25px;
    }

  }

  .summary-item-field-headings-visible {

    th {
      position: relative;
      left: -25px;
    }

  }

  .c3 {
    border-left: 1px solid $grey-2;
  }

}
