.service-title {
  @include grid-column(2/3);
}

.service-view {

  @include grid-column(1/3);

  a {

    background: $link-hover-colour;
    display: block;
    padding: 6px 0;
    color: $white;
    margin: $gutter 0 0 0;

    @include media(tablet){
      margin: 75px 0 0 $gutter;
    }

    @include core-24;
    text-align: center;

    &:hover {
      background: $link-colour;
    }
  }

}
