{% macro text(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    question=question_content.question,
    hint=(question_content.hint or ''),
    name=question_content.id,
    value=service_data[question_content.id],
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro textbox_large(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    question=question_content.question,
    hint=(question_content.hint or ''),
    name=question_content.id,
    value=service_data[question_content.id],
    large=True,
    max_length_in_words=question_content.max_length_in_words,
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro list(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    name=question_content.id,
    number_of_items=10,
    question=question_content.question,
    hint=(question_content.hint or ''),
    values=service_data[question_content.id],
    id=question_content.id,
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/list-entry.html" %}
  {% endwith %}
{%- endmacro %}

{% macro checkboxes(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    hint=(question_content.hint or ''),
    value=service_data[question_content.id],
    id=question_content.id,
    options=question_content.options,
    type='checkbox',
    hidden=question_content.hidden,
    followup=question_content.values_followup,
    error=errors.get(question_content.id)['message'],
    question_number=question_number
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro checkbox_tree(question_content, service_data, errors) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    question_advice=question_content.question_advice,
    hint=(question_content.hint or ''),
    value=service_data[question_content.id],
    id=question_content.id,
    options=question_content.options,
    type='checkbox_tree',
    number_of_items=question_content.number_of_items,
    question_number=kwargs.question_number,
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message']
  %}
    {% include "toolkit/forms/checkbox-tree.html" %}
  {% endwith %}
{%- endmacro %}

{% macro radios(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    hint=(question_content.hint or ''),
    hint_underneath=(question_content.hint_underneath or False),
    value=service_data[question_content.id],
    id=question_content.id,
    options=question_content.options,
    type='radio',
    hidden=question_content.hidden,
    followup=question_content.values_followup,
    error=errors.get(question_content.id)['message'],
    question_number=question_number
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro boolean(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    hint=(question_content.hint or ''),
    value=service_data[question_content.id],
    id=question_content.id,
    type='boolean',
    hidden=question_content.hidden,
    followup=question_content.values_followup,
    error=errors.get(question_content.id)['message'],
    question_number=question_number
  %}
    {% include "toolkit/forms/selection-buttons.html" %}
  {% endwith %}
{%- endmacro %}

{% macro upload(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    question=question_content.question,
    hint=(question_content.hint or ''),
    name=question_content.id,
    value="Document uploaded {}".format(
      service_data[question_content.id]
    ) if service_data[question_content.id] else service_data[question_content.id],
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message'],
    question_number=question_number
  %}
    {% include "toolkit/forms/upload.html" %}
  {% endwith %}
{%- endmacro %}

{% macro pricing(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    name=question_content.id,
    question=question_content.question,
    fields=question_content.fields,
    optional_fields=question_content.optional_fields,
    minimum_price=service_data.get(question_content.fields.minimum_price),
    maximum_price=service_data.get(question_content.fields.maximum_price),
    price_unit=service_data.get(question_content.fields.price_unit),
    price_interval=service_data.get(question_content.fields.price_interval),
    hours_for_price=service_data.get(question_content.fields.hours_for_price),
    hint=(question_content.hint or ''),
    id=question_content.id,
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message'],
    question_number=question_number
  %}
    {% include "toolkit/forms/pricing.html" %}
  {% endwith %}
{%- endmacro %}

{% macro percentage(question_content, service_data, errors, question_number=None) -%}
  {%
    with
    unit_in_full="percent",
    unit_position="after",
    unit="%",
    question=question_content.question,
    hint=(question_content.hint or ''),
    name=question_content.id,
    value=service_data[question_content.id],
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message'],
    question_number=question_number
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}

{% macro multiquestion(question_content, service_data, errors, question_number=None, get_question=None) -%}
<fieldset class="question" id="{{ question_content.id }}">
  <legend>
    <span class="visually-hidden">{{ question_content.name }}</span>
  </legend>

  <span class="question-heading">
      <strong>{{ question_content.name }}</strong>
  </span>

  {% import "macros/toolkit_forms.html" as forms %}

  {% for child_question in question_content.questions %}
    {{ forms[child_question.type](
          child_question,
          service_data,
          errors if errors and errors[child_question.id] else {}
        )
    }}
  {% endfor %}
</fieldset>
{%- endmacro %}

{% macro number(question_content, data, errors) -%}
  {%
    with
    unit_in_full=question_content.unit_in_full,
    unit_position=question_content.unit_position,
    unit=question_content.unit,
    smaller=True,
    question=question_content.question,
    question_advice=question_content.question_advice,
    hint=question_content.hint,
    optional=question_content.optional,
    name=question_content.id,
    value=data[question_content.id],
    hidden=question_content.hidden,
    error=errors.get(question_content.id)['message'],
    question_number=question_number
  %}
    {% include "toolkit/forms/textbox.html" %}
  {% endwith %}
{%- endmacro %}
