<caption>{{ question.name or question.question }}</caption>
<thead>
  <tr>
    <th class="line-number"><span class="visuallyhidden">Previously acknowledged version line number</span></th>
    <th class="line-content"><span class="visuallyhidden">Previously acknowledged version changes</span></th>
    <th class="line-number"><span class="visuallyhidden">Current version line number</span></th>
    <th class="line-content"><span class="visuallyhidden">Current version changes</span></th>
  </tr>
</thead>
