{% extends "govuk-frontend/template.njk" %}

{# Import GOV.UK Frontend components for globale usage#}
{% from "govuk-frontend/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "govuk-frontend/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk-frontend/components/tabs/macro.njk" import govukTabs %}
{% from "govuk-frontend/components/error-summary/macro.njk" import govukErrorSummary %}

{# Import DM Components #}
{% from "digitalmarketplace/components/header/macro.njk" import dmHeader%}

{% set assetPath = '/admin/static' %}

{% block head %}
  {% include "digitalmarketplace/templates/layouts/_custom_dimensions.html" %}
  {% include "digitalmarketplace/templates/layouts/_site_verification.html" %}
  <link type="text/css" rel="stylesheet" href="{{ asset_fingerprinter.get_url('stylesheets/application.css') }}" />
  {% block pageStyles %}{% endblock%}
{% endblock %}

{% block header %}
  {{ dmHeader({
    "isAdmin": "true",
    "role": current_user.role | default(None)
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    "tag": {
      "text": "beta"
    },
    "html": 'Help us improve the Digital Marketplace - <a class="govuk-link" href="'  + url_for('external.help') + '">send your feedback</a>'
  }) }}
  {% block breadcrumbs %}{% endblock%}
  {% include "toolkit/flash_messages.html" %}
{% endblock %}

{% block content %}
  {% block errorSummary %}
    {% if errors %}
      {{ govukErrorSummary({
      "titleText": "There is a problem",
      "errorList": errors.values(),
    }) }}
    {% endif %}
  {% endblock %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ asset_fingerprinter.get_url('javascripts/application.js') }}"></script>
  {% block pageScripts %}{% endblock%}
{% endblock %}
