<div class="header-proposition">
  <div class="content">
    {% if current_user.email_address %}
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    {% endif %}
    <nav id="proposition-menu">
      <a href="/admin" id="proposition-name">Digital Marketplace</a>
    </nav>
    {% if current_user.email_address %}
      <ul id="proposition-links">
        {% if current_user.has_role('admin') or current_user.has_role('admin-ccs-category') %}
        <li>
            <a href="{{ url_for('main.service_update_audits') }}">Service updates</a>
        </li>
        <li>
            <a href="{{ url_for('main.service_status_update_audits') }}">Service status changes</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ url_for('main.logout') }}">Log out</a>
        </li>
      </ul>
    {% endif %}
  </div>
</div>
