{% extends "_base_page.html" %}

{% block body_end %}
   <script type="text/javascript" src="{{ component.get_vendor_bundle() }}" defer></script>
   <script type="text/javascript" src="{{ component.get_bundle() }}" defer></script>
   {# May not be the best place to load this, time will tell. #}
   {% if component.get_file('stylesheet') %}
     <link type="text/css" rel="stylesheet" media="screen" href="{{ component.get_file('stylesheet') }}">
   {% endif %}
{% endblock %}

{% block wrapper_content %}
    <div id="react-bundle-{{component.get_slug()}}-state" style="display:none;">{{component.get_props()|tojson|forceescape}}</div>
    <div id="react-bundle-{{component.get_slug()}}">{{component|safe}}</div>
{% endblock %}
