{% set field_headings = [
  "Supplier Name",
  summary.hidden_field_heading("Users"),
  summary.hidden_field_heading("Services")
]
%}

{% call(item) summary.list_table(
  suppliers,
  caption="Suppliers",
  empty_message="No suppliers were found",
  field_headings=field_headings,
  field_headings_visible=True)
%}

  {% call summary.row() %}
    {{ summary.service_link(item.name, url_for(".supplier_details", supplier_id=item.id)) }}
    {{ summary.edit_link("Users", url_for(".find_supplier_users", supplier_id=item.id)) }}
    {{ summary.edit_link("Services", url_for(".find_supplier_services", supplier_id=item.id)) }}
  {% endcall %}

{% endcall %}
