<div class="five-columns-table">
{% for supplier in suppliers %}
  {{ summary.heading(supplier.name) }}

  {% call(framework) summary.list_table(
    interesting_frameworks,
    caption="Suppliers agreements",
    field_headings = [
      'View declaration',
      'Edit declaration',
      'View signed agreement',
      'Upload countersigned agreement',
    ],
    field_headings_visible=False)
  %}
    {% call summary.row() %}
      {{ summary.field_name(framework['name']) }}
      {{ summary.link(link_title='Edit declaration', link=url_for('.view_supplier_declaration', supplier_id=supplier.id, framework_slug=framework['slug']), hidden_text='for ' + framework['name']) }}
      {% if framework['slug'] in old_flow_slugs %}
        {{ summary.link(link_title='Download agreement', link=url_for('.download_agreement_file', supplier_id=supplier.id, framework_slug=framework['slug'], document_name=agreement_filename), hidden_text='for ' + framework['name']) }}
        {{ summary.link(link_title='Download signed agreement', link=url_for('.download_signed_agreement_file', supplier_id=supplier.id, framework_slug=framework['slug']), hidden_text='for ' + framework['name']) }}
        {{ summary.link(link_title='Upload countersigned agreement', link=url_for('.list_countersigned_agreement_file', supplier_id=supplier.id, framework_slug=framework['slug']), hidden_text='for ' + framework['name']) }}
      {% else %}
        {{ summary.link(link_title='View agreement', link=url_for('.view_signed_agreement', supplier_id=supplier.id, framework_slug=framework['slug']), hidden_text='for ' + framework['name']) }}
        {{ summary.link() }}
        {{ summary.link() }}
      {% endif %}
    {% endcall %}
  {% endcall %}
{% endfor %}
</div>
