{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}
{% block page_title %}
  Digital Marketplace admin
{% endblock %}

{% set csrf = csrf_token() %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "label": "Audits",
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}
{% block main_content %}
    {%
      with
      heading = "Acknowledged service edits"
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
    <div class="grid-row">
        <div class="column-one-whole">
        {% set content %}
            <span class="search-summary-count">{{ audit_events|length }}</span> {{ pluralize(audit_events|length, "service", "services") }}
        {% endset %}
        {% include "toolkit/search-summary.html" %}

            {% call(item) summary.list_table(
              audit_events,
              caption="Audit events",
              empty_message="No audit events found",
              field_headings=[
                'Supplier',
                'Service ID',
                'Acknowledged',
                summary.hidden_field_heading("Changes"),
              ],
              field_headings_visible=True
            ) %}
              {% call summary.row() %}
                {{ summary.field_name(item.data.supplierName, wide=True) }}
                {% call summary.field() %}
                  {{ item.data.serviceId }}
                {% endcall %}
                {% call summary.field() %}
                  {{ item.acknowledgedAt|timeformat }}
                  {{ item.acknowledgedAt|shortdateformat }}
                {% endcall %}
                {{ summary.edit_link(
                  "View changes",
                  url_for(
                    '.compare',
                    old_archived_service_id=item.data.oldArchivedServiceId,
                    new_archived_service_id=item.data.newArchivedServiceId
                  )
                ) }}
              {% endcall %}
            {% endcall %}

            {%
              with
              previous_page = {
                "url": url_for(".service_update_audits", page=current_page-1, acknowledged=acknowledged),
                "title": "Previous page",
                "label": "Page " + ((current_page-1)|string)
              } if prev_page_exists or False,
              next_page = {
                "url": url_for(".service_update_audits", page=current_page+1, acknowledged=acknowledged),
                "title": "Next page",
                "label": "Page " + ((current_page+1)|string)
              } if next_page_exists or False
            %}
              {% include "toolkit/previous-next-navigation.html" %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
