{% extends "_base_page.html" %}

{% block page_title %}Add buyer email domains – Digital Marketplace admin{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Add buyer email domains"
      }
    ]
  }) }}
{% endblock %}

{% block main_content %}
  {% for error in email_domain_form.new_buyer_domain.errors %}
    {%
      with
        message = error,
        type = "destructive"
    %}
      {% include "toolkit/notification-banner.html" %}
    {% endwith %}
  {% endfor %}

  {% with heading = "Add a buyer email domain" %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <form method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        <p>
          <a href="https://www.gov.uk/government/publications/public-sector-organisations-eligible-to-use-cloudstore">
            Check ‘Public sector organisations eligible to use Digital Marketplace’
          </a> before you add a domain.
        </p>

        {%
          with
          question = "",
          hint = email_domain_form.new_buyer_domain.hint,
          name = email_domain_form.new_buyer_domain.name,
          value = email_domain_form.new_buyer_domain.value,
          error = ""
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "text": "Add"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
