{% extends "_base_page.html" %}

{% set page_title = 'Change ' + framework['name'] + ' status' %}
{% block pageTitle %}
  {{ page_title }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index'),
      },
      {
        "text": "View frameworks",
        "href": url_for('.view_frameworks'),
      },
      {
        "text": page_title,
      },
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="{{ url_for('.change_framework_status', framework_slug=framework['slug']) }}" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ govukRadios({
          "idPrefix": "input-" + form.status.name,
          "name": form.status.name,
          "hint": {
            "text": form.status.description,
          },
          "items": form.items(),
          "fieldset": {
            "legend": {
              "text": page_title,
              "classes": "govuk-fieldset__legend--l",
              "isPageHeading": true,
            }
          },
          "errorMessage": {
              "text": errors.get(form.status.name, {}).get('message', None)
            } if errors,
        }) }}
        
        {% block save_button %}
          {{ govukButton({
            "text": "Save and return"
          }) }}
        {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
