{% import 'macros/answers.html' as answers %}

{% extends "_base_page.html" %}
{% block page_title %}
  {{ service['serviceName'] }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
          {
            "link": url_for('.service_update_audits'),
            "label": "Check edits to services"
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
    {% if category == 'error' %}
        <div class="banner-destructive-without-action">
    {% else %}
        <div class="banner-success-without-action">
    {% endif %}
      <p class="banner-message">
          {% if message['bad_status'] %}
          Not a valid status: '{{ message['bad_status'] }}'
          {% elif message['status_error'] %}
          Error trying to update status of service: {{ message['status_error'] }}
          {% elif message['status_updated'] %}
          Service status has been updated to: {{ message['status_updated']|title }}
          {% endif %}
      </p>
      {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  {%
    with
    smaller = true,
    heading = service['serviceName'],
    context = service['supplierName']
  %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}
  {%
    with
      url = "/g-cloud/services/{}".format(service.id),
      text = "View service"
  %}
    {% include "toolkit/secondary-action-link.html" %}
  {% endwith %}
    <div class="grid-row">
      <div class="column-two-thirds page-section">
        <p>
          {% if all_update_events is none %}
            Multiple
          {% else %}
            {{ all_update_events|length }}
          {% endif %}
          unapproved {{ pluralize((all_update_events or (oldest_update_events+latest_update_events))|length, "edit", "edits") }}
          {%- if latest_update_events %}
            {% if all_update_events is not none %}
              by
              {% if n_editing_users_min == 1 %}
                {{ latest_update_events.0.user }}
              {% else %}
                {{ n_editing_users_min }} users
              {% endif %}
            {% endif %}
            {% if latest_update_events[0].createdAt|dateformat == oldest_update_events[-1].createdAt|dateformat %}
              on {{ latest_update_events[0].createdAt|dateformat }}
            {%- else %}
              between {{ oldest_update_events[-1].createdAt|dateformat }}
              and {{ latest_update_events[0].createdAt|dateformat }}
            {%- endif -%}
          {%- endif -%}
          .
        </p>
      </div>
    </div>

    {% if latest_update_events %}
    <div class="diff">
    {% if diffs %}
      <div class="grid-row page-column-headings">
        <div class="column-one-half">
          <h3>
            Previously approved version
          </h3>
          <p>
            Changed on {{ oldest_update_events[-1].createdAt|datetimeformat }}
          </p>
        </div>
        <div class="column-one-half">
          <h3>
            Current version
          </h3>
        </div>
      </div>
    {% endif %}
    {% for diff_table in diffs.values() %}
      {{ diff_table }}
    {% else %}
      <p>All changes were reversed.</p>
    {% endfor %}
    </div><!-- end of .diff -->
    {% endif %}

    <div class="grid-row">
      <div class="column-one-whole">
        <h4>Contact supplier:</h4>
        <p><a href="mailto:{{ supplier["contactInformation"][0]["email"] }}">
            {{ supplier["contactInformation"][0]["email"] }}
         </a></p>
      </div>
    </div>

    {% if current_user.has_any_role('admin-ccs-category') and latest_update_events%}
        <form action="{{ url_for('.submit_service_update_approval', service_id=service.id, audit_id=latest_update_events[0].id)}}" method="post">
            <div style="display:none;">
              <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
            </div>

            <input type="submit" class="button-save"  value="Approve {{ pluralize((all_update_events or (oldest_update_events+latest_update_events))|length, "edit", "edits") }}" />
        </form>
    {% endif %}

  </div>
{% endblock %}
