{% extends "_base_page.html" %}

{% block page_title %}
  Confirm communications deletion - Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Manage {} communications".format(framework.name),
        "href": url_for('.manage_communications', framework_slug=framework.slug)
      },
      {
        "text": "Confirm communications deletion"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Confirm communications deletion</h1>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="question">
          Are you sure you want to delete the {{ framework.name }} {{ comm_type }} file ‘{{ filepath }}’?
        </div>
        {{ govukButton({
          "classes": "govuk-button--warning",
          "name": "confirm",
          "text": "Delete file"
        }) }}
      </div>
    </div>
  </form>

{% endblock %}
