{% extends "_base_page.html" %}

{% block page_title %}
  Download supplier lists for {{ framework.name }} - Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {%
        with heading = "Download supplier lists for {}".format(framework['name'])
      %}
        {% include "toolkit/page-heading.html" %}
      {% endwith %}

      <div class="explanation-list">
          <p class="lede">These lists contain details of all suppliers who:</p>
          <ul class='list-bullet'>
            <li>started an application</li>
            <li>are on the framework</li>
            <li>weren't accepted on the framework</li>
            <li>have been excluded from the framework</li>
          </ul>
      </div>
      <br />
      {%
        with
        items = [
          {
              "title": "Official details for suppliers",
              "link": supplier_csv_url,
              "file_type": "CSV"
          },
          {
              "title": "Supplier names and emails",
              "link": user_csv_url,
              "file_type": "CSV"
          },
        ]
      %}
        {% include "toolkit/documents.html" %}
      {% endwith %}
        <p class="lede">Lists are generated daily. </p>
    </div>
  </div>

{% endblock %}
