{% extends "_base_page.html" %}

{% block pageTitle %}
  Download supplier lists for {{ framework.name }} - Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Download supplier lists"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Download supplier lists for {{ framework['name'] }}</h1>

      <div class="explanation-list">
        <p class="govuk-body">These lists contain details of all suppliers who:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>started an application</li>
          <li>are on the framework</li>
          <li>weren't accepted on the framework</li>
          <li>have been excluded from the framework</li>
        </ul>
      </div>
      <br />
      {%
        with
        items = [
          {
              "title": "Official details for suppliers",
              "link": supplier_csv_url,
              "file_type": "CSV"
          },
          {
              "title": "Supplier names and emails",
              "link": user_csv_url,
              "file_type": "CSV"
          },
        ]
      %}
        {% include "toolkit/documents.html" %}
      {% endwith %}
        <p class="govuk-body">Lists are generated daily. </p>
    </div>
  </div>

{% endblock %}
