{% extends "_base_page.html" %}

{% block page_title %}
  Change name – {{ supplier.name }} – Digital Marketplace admin
{% endblock %}

{% block main_content %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": supplier.name,
        "href": url_for('.supplier_details', supplier_id=supplier.id)
      },
      {
        "text": "Change supplier name"
      }
    ]
  }) }}

  {% with heading = "Change supplier name" %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}
  <form method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        {%
          with
          question = "New name",
          name = "new_supplier_name",
          value = supplier.name
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "text": "Save"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
