{% import 'macros/toolkit_forms.html' as forms %}
{% from "macros/assurance.html" import assurance_question %}

{% extends "_base_page.html" %}
{% block page_title %}
  {{ section.name }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "link": url_for(".view", service_id=service_data.id),
        "label": service_data['serviceName']
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {%
    with
    heading = section.name,
    smaller = True
  %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  {% if errors %}
    {% with errors = errors.values() %}
      {% include 'toolkit/forms/validation.html' %}
    {% endwith %}
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"></div>
        {% for question in section.questions %}
          {% if errors and errors[question.id] or question.type == 'multiquestion' %}
            {{ forms[question.type](question, service_data, errors) }}
          {% else %}
            {{ forms[question.type](question, service_data, {}) }}
          {% endif %}
          {% if question.assuranceApproach %}
            <div class='assurance-question'>
              {{ assurance_question(
                name=question.id,
                service_data=service_data,
                type=question.assuranceApproach,
                errors=errors if errors else {}
              ) }}
            </div>
          {% endif %}
        {% endfor %}
        {%
          with
          type = "save",
          label = "Save and return to summary"
        %}
          {% include "toolkit/button.html" %}
        {% endwith %}
        <p>
          <a href="{{ url_for('.view', service_id=service_data.id) }}">Return without saving</a>
        </p>
      </div>
    </div>
  </form>
{% endblock %}
