{% extends "_base_page.html" %}
{% block page_title %}
  Documents – Digital Marketplace admin
{% endblock %}

{% block content %}
<div id="global-breadcrumb">
  <nav>
    <ol>
      <li>
        <a href="/" alt="Back to home">Home</a>
      </li>
      <li>
        <a href="/service/{{ service_data['id'] }}" alt="Back to home">{{ service_data['serviceName'] }}</a>
      </li>
    </ol>
  </nav>
</div>
<div class="page-container">
  <header class="page-heading-smaller">
    <h1>
      Documents
    </h1>
  </header>
  {% if service_data %}
    <form action="/service/{{ service_data['id'] }}" method="post" enctype="multipart/form">
      <div class="question">
        <label class="question-heading">Service definition</label>
        <input type="textbox" class="text-box" name="edits_submitted" value="{{ service_data['serviceDefinitionDocumentURL'] }}" />
      </div>
      <div class="question">
        <label class="question-heading">Pricing</label>
        <input type="textbox" class="text-box" name="edits_submitted" value="{{ service_data['pricingDocumentURL'] }}" />
      </div>
      <div class="question">
        <label class="question-heading">Terms and conditions</label>
        <input type="textbox" class="text-box" name="edits_submitted" value="{{ service_data['termsAndConditionsDocumentURL'] }}" />
      </div>
      {% if service_data['sfiaRateDocumentURL'] %}
        <div class="question">
          <label class="question-heading">SFIA rate card</label>
          <input type="textbox" class="text-box" name="edits_submitted" value="{{ service_data['sfiaRateDocumentURL'] }}" />
        </div>
      {% endif %}
      <button class="button-save" type="submit">Save and return to overview</button>
      <p>
        <a href="/service/{{ service_data['id'] }}">Return without saving</a>
      </p>
    </form>
  {% else %}
      <h2>Error: No service data.</h2>
  {% endif %}
</div>
{% endblock %}
