{% import 'macros/forms.html' as forms %}
{% from 'macros/breadcrumb.html' import breadcrumb %}
{% from 'macros/page_heading.html' import page_heading %}

{% extends "_base_page.html" %}
{% block page_title %}
  Documents – Digital Marketplace admin
{% endblock %}

{% block content %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "link": url_for(".view", service_id=service_data.id),
        "label": service_data['serviceName']
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
  <div class="page-container edit-section">
    {%
      with
      heading = section.name,
      smaller = True
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
    {% if errors %}
      <div class="validation-masthead">
        <h2 class="validation-masthead-heading">
          There were problems with your response to the following questions:
        </h2>
        <ul>
          {% for question in section.questions %}
            {% if question.id in errors %}
              <li>
                <a class="validation-masthead-link" href="#{{ question.id }}">{{ question.question }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <form action="{{ url_for('.update', service_id=service_data.id, section=section.id) }}" method="post" enctype="multipart/form-data">
      <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"></div>
      {% for question in section.questions %}

        {% if question.id in errors %}
          {{ forms.validation_wrapper_open() }}
        {% endif %}

        {{ forms.question_wrapper_open(question) }}

          {% if question.id in errors %}
            {{ forms.validation_message(errors[question.id ], question.id) }}
          {% endif %}

          {{ forms[question.type](question, service_data[question.id], service_data) }}

        {{ forms.question_wrapper_close(question) }}

        {% if question.id in errors %}
          {{ forms.validation_wrapper_close() }}
        {% endif %}

      {% endfor %}
      <button class="button-save" type="submit">Save and return to summary</button>
      <p>
        <a href="{{ url_for('.view', service_id=service_data.id) }}">Return without saving</a>
      </p>
    </form>
  </div>
{% endblock %}
