{% extends "_base_page.html" %}
{% block page_title %}
  Edit details of admin user: {{ admin_user.emailAddress }} – Digital Marketplace admin
{% endblock %}

{% block main_content %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Edit an admin user",
      }
    ]
  }) }}

  {% for error in edit_admin_user_form.edit_admin_name.errors %}
    {%
      with
        message = error,
        type = "destructive"
    %}
      {% include "toolkit/notification-banner.html" %}
    {% endwith %}
  {% endfor %}

  {% with heading = admin_user.emailAddress %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <form method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

        {{ edit_admin_user_form.edit_admin_name }}
        {{ edit_admin_user_form.edit_admin_permissions }}
        {{ edit_admin_user_form.edit_admin_status }}

        {{ govukButton({
          "text": "Update user"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
