{% from 'macros/page_heading.html' import page_heading %}

{% extends "_base_page.html" %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {%
    with heading = "Export user list"
  %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  {% if not framework_options %}
    <p>No valid frameworks were found.</p>
    <p>A framework must be open, pending or live in order to export its users.</p>
  {% else %}

    {% if errors %}
      {%
        with
        errors = errors,
        lede = "Not answering isn't very helpful",
        description = "Please do it right this time"
      %}
        {% include "toolkit/forms/validation.html" %}
      {% endwith %}
    {% endif %}

    <form method="post" class="question">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {%
        with
        question = "Please select a framework",
        type = "radio",
        name = "framework_slug",
        options = framework_options
      %}
        {% include "toolkit/forms/selection-buttons.html" %}
      {% endwith %}
      {%
        with
        type = "save",
        label = "Run me off a CSV"
      %}
        {% include "toolkit/button.html" %}
      {% endwith %}
    </form>
  {% endif %}{# /if not frameworks_options #}

{% endblock %}
