{% if current_user.role == "admin" %}
  {% set page_title = "Edit supplier accounts or view services" %}
{% elif current_user.role == "admin-ccs-category" %}
  {% set page_title = "Edit suppliers and services" %}
{% elif current_user.role == "admin-ccs-sourcing" %}
  {% set page_title = "Edit supplier declarations" %}
{% elif current_user.role == "admin-framework-manager" %}
  {% set page_title = "View suppliers and services" %}
{% endif %}

{% extends "_base_page.html" %}

{% block pageTitle %}
  {{ page_title }} - Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": page_title
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">{{ page_title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ url_for('.find_suppliers') }}" method="get" class="question">
        {%
          with
          question = "Find a supplier by name",
          name = "supplier_name",
          hint = "Enter any part of the supplier’s registered name or trading name."
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "name": "find_supplier_by_name_search",
          "text": "Search"
        }) }}
      </form>

      <form action="{{ url_for('.find_suppliers') }}" method="get" class="question">
        {%
          with
          question = "Find a supplier by DUNS number",
          name = "supplier_duns_number",
          hint = "DUNS numbers are usually 9 digits long, for example, 234554321"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "name": "find_supplier_by_duns_number_search",
          "text": "Search"
        }) }}
      </form>

      {% if current_user.has_any_role('admin', 'admin-ccs-category', 'admin-framework-manager') %}
        <form action="{{ url_for('.find_service') }}" method="get" class="question">
          {%
            with
            question = "Find a service by service ID",
            name = "service_id",
            hint = "For example 123456789012345"
          %}
            {% include "toolkit/forms/textbox.html" %}
          {% endwith %}

          {{ govukButton({
            "name": "find_service_by_id_search",
            "text": "Search"
          }) }}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
