{% from 'macros/page_heading.html' import page_heading %}

{% extends "_base_page.html" %}
{% block page_title %}
  Digital Marketplace admin
{% endblock %}

{% block content %}
<div class="page-container">
    
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
    <div class="banner-destructive-without-action">
    {% else %}
    <div class="banner-success-without-action">
        {% endif %}
        <p class="banner-message">
            {% if message['no_service'] %}
            Could not find a service with ID: {{ message['no_service'] }}
            {% elif message['api_error'] %}
            Error trying to retrieve service with ID: {{ message['api_error'] }}
            {% endif %}
        </p>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
    
  {{ page_heading("Find a service") }}
  <form action="{{ url_for('.find') }}" method="get" class="question">
      <label class="question-heading" for="service_id">Service ID</label>
      <input type="text" name="service_id" id="service_id" class="text-box">
      <input type="submit" value="Find service" class="button-save">
  </form>
</div>
{% endblock %}
