{% extends "_base_page.html" %}

{% block pageTitle %}
  Digital Marketplace admin
{% endblock %}

{% block mainContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Admin</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if current_user.has_role('admin-ccs-data-controller') %}
      {# ADMIN CCS DATA CONTROLLER #}
      <h2 class="govuk-heading-m">Search for users</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url_for('.find_user_by_email_address') }}">
            Find a user by email
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Search for suppliers</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url_for('.search_suppliers_and_services') }}">
            View and edit suppliers
          </a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Download supplier lists</h2>
      <ul class="govuk-list">
        {% for framework in frameworks %}
          {% if framework.status in ["pending", "standstill", "live"] or
              (framework.family == 'digital-outcomes-and-specialists' and framework.status == 'expired') %}
            <li>
              <a class="govuk-link" href="{{ url_for('.user_list_page_for_framework', framework_slug=framework['slug']) }}">
                {{ framework.name }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% elif current_user.has_role('admin-manager') %}
      {# ADMIN MANAGER #}
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url_for('.manage_admin_users') }}">
            View and edit admin accounts
          </a>
        </li>
      </ul>
    {% else %}
      {# BUYERS, SUPPLIERS AND SERVICES #}
      <h2 class="govuk-heading-l">User support</h2>
      {% if current_user.has_any_role('admin', 'admin-ccs-category') %}
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="{{ url_for('.find_user_by_email_address') }}">
              Find a user by email
            </a>
          </li>
        </ul>
      {% endif %}

      <h3 class="govuk-heading-m">Suppliers</h3>

      {% set find_supplier_and_services_link_text = {
        'admin': 'Edit supplier accounts or view services',
        'admin-ccs-category': 'Edit suppliers and services',
        'admin-ccs-sourcing': 'View and edit supplier declarations',
        'admin-framework-manager': 'View suppliers and services',
        }
      %}
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="{{ url_for('.search_suppliers_and_services') }}">
            {{ find_supplier_and_services_link_text[current_user.role] }}
          </a>
        </li>

        {% if current_user.has_role('admin-framework-manager') %}
          <li>
            <a class="govuk-link" href="{{ url_for('.supplier_user_research_participants_by_framework') }}">
              Download potential user research participants (suppliers)
            </a>
          </li>
        {% elif current_user.has_role('admin-ccs-category') %}
          <li>
            <a class="govuk-link" href="{{ url_for('.service_update_audits') }}">
              Review service changes
            </a>
          </li>
        {% endif %}
      </ul>

      {% if current_user.has_any_role('admin', 'admin-ccs-category', 'admin-framework-manager') %}
        <h3 class="govuk-heading-m">Buyers</h3>

        <ul class="govuk-list">
          {% if current_user.has_role('admin-framework-manager') %}
            <li>
              <a class="govuk-link" href="{{ url_for('.download_buyers') }}">
                Download list of all buyers
              </a>
            </li>
            <li>
              <a class="govuk-link" href="{{ url_for('.download_buyers_for_user_research') }}">
                Download potential user research participants (buyers)
              </a>
            </li>
          {% elif current_user.has_any_role('admin', 'admin-ccs-category') %}
            <li>
              <a class="govuk-link" href="{{ url_for('.find_buyer_by_brief_id') }}">
                Find a buyer by opportunity ID
              </a>
            </li>
            <li>
              <a class="govuk-link" href="{{ url_for('.add_buyer_domains') }}">
                Add a buyer email domain
              </a>
            </li>
          {% endif %}
        </ul>
      {% endif %}

      {% if current_user.has_any_role('admin-ccs-category', 'admin-framework-manager', 'admin-ccs-sourcing') %}
        {# OUTCOMES #}
        <h2 class="govuk-heading-l">Outcomes</h2>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="{{ url_for('.download_direct_award_outcomes') }}">
              Download Direct Award outcomes
            </a>
          </li>

          <li>
            <a class="govuk-link" href="{{ url_for('.download_dos_outcomes') }}">
              Download Digital Outcomes and Specialists outcomes
            </a>
          </li>
        </ul>

        {# FRAMEWORKS AND APPLICATIONS #}
        <h2 class="govuk-heading-l">Manage applications</h2>

        {% for framework in frameworks %}
          {% if framework.status in ["standstill", "live"] or
              (framework.family == 'digital-outcomes-and-specialists' and framework.status == 'expired') or
                current_user.has_any_role('admin-framework-manager', 'admin-ccs-sourcing') %}
            <h3 class="govuk-heading-m">{{framework.name}}</h3>

            <ul class="govuk-list">
              {% if framework.status in ["live", "standstill"] or
                  (framework.family == 'digital-outcomes-and-specialists' and framework.status == 'expired') %}
                <li>
                  <a class="govuk-link" href="{{ url_for('.list_agreements', framework_slug=framework['slug'], status='signed') }}">
                    View supplier framework agreements
                  </a>
                </li>
              {% endif %}

              {% if framework['slug'] in config.PERFORMANCE_PLATFORM_ID_MAPPING and current_user.has_any_role('admin-ccs-sourcing', 'admin-framework-manager') %}
                <li>
                  <a class="govuk-link" href="{{ config.PERFORMANCE_PLATFORM_BASE_URL }}{{ config.PERFORMANCE_PLATFORM_ID_MAPPING[framework.slug] }}">
                    View application statistics
                  </a>
                </li>
              {% endif %}

              {% if current_user.has_role('admin-framework-manager') %}
                <li>
                  <a class="govuk-link" href="{{ url_for('.manage_communications', framework_slug=framework['slug']) }}">
                    Manage communications
                  </a>
                </li>
                <li>
                  <a class="govuk-link" href="{{ url_for('.user_list_page_for_framework', framework_slug=framework['slug']) }}">
                    Contact suppliers
                  </a>
                </li>

              {% elif current_user.has_role('admin-ccs-category') %}
                <li>
                  <a class="govuk-link" href="{{ url_for('.user_list_page_for_framework', framework_slug=framework['slug']) }}">
                    Contact suppliers
                  </a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}

    {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Account settings</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="{{ url_for('external.change_password') }}">Change your password</a>
      </li>
      <li>
        <a class="govuk-link" href="{{ url_for('external.cookie_settings') }}">Change your cookie settings</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
