{% from 'macros/page_heading.html' import page_heading %}

{% extends "_base_page.html" %}
{% block page_title %}
  Digital Marketplace admin
{% endblock %}

{% block content %}
<div class="page-container">
  {{ page_heading("Find a service") }}
  <form action="/service" method="get" class="question">
      <label class="question-heading" for="service_id">Service ID</label>
      <input type="text" name="service_id" id="service_id" class="text-box">
      <input type="submit" value="Find service" class="button-save">
  </form>
</div>
{% endblock %}
