{% extends "_base_page.html" %}

{% import "toolkit/forms/macros/forms.html" as forms %}
{% set page_title = 'Invite a new admin user' %}
{% block page_title %}{{ page_title }} – Digital Marketplace admin{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Manage users",
        "href": url_for('main.manage_admin_users')
      },
      {
        "text": page_title
      }
    ]
  }) }}
{% endblock %}

{% block main_content %}

  {% include 'toolkit/forms/validation.html' %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% with
        heading = page_name,
        smaller=True
      %}
      {% include 'toolkit/page-heading.html' %}
      {% endwith %}

      <form method="POST" action="{{ url_for('.invite_admin_user') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ form.email_address }}
        {{ form.role }}
        {% block save_button %}
          {{ govukButton({
            "text": "Invite user"
          }) }}
        {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
