{% extends "_base_page.html" %}

{% import "toolkit/forms/macros/forms.html" as forms %}
{% set page_name = 'Invite a new admin user' %}
{% block page_title %}{{ page_name }} – Digital Marketplace admin{% endblock %}
{% block breadcrumb %}
  {%
    with items = [
      {"link": url_for('.index'), "label": "Admin home"},
      {"link": url_for('main.manage_admin_users'), "label": "Manage users"},
      {"label": "Invite a new admin user"}
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}


{% block main_content %}

  {% include 'toolkit/forms/validation.html' %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% with
        heading = page_name,
        smaller=True
      %}
      {% include 'toolkit/page-heading.html' %}
      {% endwith %}

      <form method="POST" action="{{ url_for('.invite_admin_user') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {{ form.email_address }}
        {{ form.role }}
        {% block save_button %}
          {%
            with
            label="Invite user",
            name="submit",
            type="save"
          %}
            {% include "toolkit/button.html" %}
          {% endwith %}
        {% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
