{% extends "_base_page.html" %}
{% block page_title %}
  Digital Marketplace admin
{% endblock %}

{% block main_content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if message == 'no_account' %}
          {% set displayed_message = "Sorry, we couldn't find an admin account with that username and password" %}
        {% elif message == 'logged_out' %}
          {% set displayed_message = "You have been logged out" %}
        {% else %}
          {% set displayed_message = message %}
        {% endif %}
        {%
          with
          message = displayed_message,
          type = "destructive" if category == 'error' else "success"
        %}
          {% include "toolkit/notification-banner.html" %}
        {% endwith %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  {%
    with
    heading = "Administrator login"
  %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <form autocomplete="off" action="" method="post">
    <div class="grid-row">
        <div class="column-two-thirds">
            {{ form.hidden_tag() }}

            {% if form.email_address.errors %}
              <div class="validation-wrapper">
            {% endif %}
              <div class="question">
                    {{ form.email_address.label(class="question-heading-with-hint") }}
                    <p class="hint">
                        Enter the email address you used to register with the Digital Marketplace
                    </p>
                    {% if form.email_address.errors %}
                    <p class="validation-message" id="error-email-address-textbox">
                        {% for error in form.email_address.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.email_address(class="text-box", autocomplete="off") }}
                </div>
            {% if form.email_address.errors %}
                </div>
            {% endif %}

            {% if form.password.errors %}
                <div class="validation-wrapper">
            {% endif %}
                <div class="question">
                    {{ form.password.label(class="question-heading") }}
                    {% if form.password.errors %}
                    <p class="validation-message" id="error-password-textbox">
                        {% for error in form.password.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.password(class="text-box", autocomplete="off") }}
                </div>
            {% if form.password.errors %}
                </div>
            {% endif %}

            {% with
              url = "/reset-password",
              text = "Forgotten password"
            %}
              {% include "toolkit/secondary-action-link.html" %}
            {% endwith %}

            {%
              with
              type = "save",
              label = "Log in"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}

        </div>
    </div>
  </form>
{% endblock %}
