{% extends "_base_page.html" %}

{% block page_title %}
  Upload {{ framework.name }} communications - Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% with heading = "Upload {} communications".format(framework.name) %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <form method="post" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% with
       question="Communication",
       hint="This must be an open document format (pdf, pda, odt, ods, odp) or CSV",
       name="communication",
       value="Last modified {}".format(communication.last_modified|datetimeformat) if communication else "No communications have been uploaded yet",
       error=communication_error
    %}
      {% include "toolkit/forms/upload.html" %}
    {% endwith %}

    {% if framework.status in ['open'] %}
    {% with
       question="Clarification answers",
       hint="This must be PDF",
       name="clarification",
       value="Last modified {}".format(clarification.last_modified|datetimeformat) if clarification else "No clarification answers have been uploaded yet",
       error=clarification_error
    %}
      {% include "toolkit/forms/upload.html" %}
    {% endwith %}
    {% endif %}

    {%
      with
      type = "save",
      label = "Upload files"
    %}
      {% include "toolkit/button.html" %}
    {% endwith %}
  </form>

{% endblock %}
