{% import 'macros/toolkit_forms.html' as forms %}

{% extends "_base_page.html" %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              {% if category == 'upload_communication' %}
                <div class="banner-success-without-action">
                  <p class="banner-message">
                  {% if message == 'clarification' %}
                    New clarification was uploaded.
                  {% elif message == 'communication' %}
                    New communication was uploaded.
                  {% endif %}
                  </p>
                </div>
              {% else %}
                <div class="banner-destructive-without-action">
                    <p class="banner-message">
                    {% if category == 'not_pdf_or_csv' and message == 'communication' %}
                        Communication file is not a PDF or CSV.
                    {% elif category == 'not_pdf' and message == 'clarification' %}
                        Clarification file is not a PDF.
                    {% endif %}
                  </p>
                </div>
              {% endif %}
          {% endfor %}
      {% endif %}
  {% endwith %}

  {% with heading = "Upload {} communications".format(framework.name) %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <form method="post" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% with
       question="Communication",
       hint="This must be PDF or CSV",
       name="communication",
       value="Last modified {}".format(communication.last_modified),
       error=communication_error
    %}
      {% include "toolkit/forms/upload.html" %}
    {% endwith %}

    {% if framework.status in ['open'] %}
    {% with
       question="Clarification answers",
       hint="This must be PDF",
       name="clarification",
       value="Last modified {}".format(clarification.last_modified),
       error=clarification_error
    %}
      {% include "toolkit/forms/upload.html" %}
    {% endwith %}
    {% endif %}

    {%
      with
      type = "save",
      label = "Upload files"
    %}
      {% include "toolkit/button.html" %}
    {% endwith %}
  </form>

{% endblock %}
