{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}
{% block page_title %}
  Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "label": "Audits",
      }
    ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}
{% block main_content %}
    {%
      with
      smaller = true,
      heading = today|dateformat,
      context = "Activity for"
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
    <div class="grid-row">
        {% if form.errors|length >= 1 %}
          <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
              <h3 class="validation-masthead-heading" id="validation-masthead-heading">
                  There was a problem with your answer to the following questions
              </h3>
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                  <a href="#example-textbox" class="validation-masthead-link">{{ form[field_name].label }}</a>
                {% endfor %}
              {% endfor %}
          </div>
        {% endif %}

        <div class="column-one-third">
            <form action="{{ url_for('.service_update_audits') }}" method="get" class="question">
                <div class="govuk-option-select">
                    <div class="container-head">
                        {{ form.audit_date.label(class="option-select-label") }}
                    </div>
                    {% if form.audit_date.errors %}
                    <p class="validation-message" id="error-email-address-textbox">
                        {% for error in form.audit_date.errors %}{{ error }}{% endfor %}
                    </p>
                    {% endif %}
                    {{ form.audit_date(class="filter-field-text", placeholder="eg, 2015-07-23") }}
                </div>

                <div class="govuk-option-select">
                    <div class="container-head js-container-head">
                        <div class="option-select-label">Show</div>
                    </div>
                    <div class="options-container">
                        <div class="js-auto-height-inner">
                            <label for="acknowledged-1">
                                <input name="acknowledged" value="all" id="acknowledged-1" type="radio"
                                       aria-controls=""
                                       {% if acknowledged=="all" %} checked {% endif %}>
                                All
                            </label>
                            <label for="acknowledged-2">
                                <input name="acknowledged" value="true" id="acknowledged-2" type="radio"
                                       aria-controls=""
                                       {% if acknowledged=="true" %} checked {% endif %}>
                                Acknowledged
                            </label>
                            <label for="acknowledged-3">
                                <input name="acknowledged" value="false" id="acknowledged-3" type="radio"
                                       aria-controls=""
                                       {% if acknowledged=="false" %} checked {% endif %}>
                                Not acknowledged
                            </label>

                        </div>
                    </div>
                </div>
                <button class="button-save" type="submit">Filter</button>
                </form>
        </div>

        <div class="column-two-thirds">
            {% call(item) summary.list_table(
              audit_events,
              caption="Audit events",
              empty_message="No audit events found",
              field_headings=[
                'Supplier',
                'Date',
                summary.hidden_field_heading("Changes"),
                summary.hidden_field_heading("Action")
              ],
              field_headings_visible=True
            ) %}
              {% call summary.row() %}
                {{ summary.field_name(item.data.supplierName) }}
                {% call summary.field() %}
                  {{ item.createdAt|timeformat }}
                  <br/>
                  {{ item.createdAt|shortdateformat }}
                {% endcall %}
                {{ summary.edit_link(
                  "View changes",
                  url_for(
                    '.compare',
                    old_archived_service_id=item.data.oldArchivedServiceId,
                    new_archived_service_id=item.data.newArchivedServiceId
                  )
                ) }}
                {% call summary.field(action=True) %}

                  {% if item.acknowledged %}
                    {{ item.acknowledgedBy }}
                    <br/>
                    {{ item.createdAt|timeformat }}
                    <br/>
                    {{ item.createdAt|shortdateformat }}
                  {% elif current_user.has_role('admin') %}
                    <form action="{{ url_for('.submit_service_update_acknowledgment', audit_id=item.id) }}" method="post">
                        <div style="display:none;">
                            {{ form.csrf_token }}
                            <input name="acknowledged" type="hidden" value="{{ acknowledged }}">
                            <input name="audit_date" type="hidden" value="{% if form.audit_date.data %}{{ form.audit_date.data }}{% endif %}">
                        </div>
                        <button class="button-secondary">Acknowledge</button>
                    </form>
                  {% endif %}
                {% endcall %}
              {% endcall %}
            {% endcall %}

            {%
              with
              previous_page = {
                "url": url_for(".service_update_audits", page=current_page-1, acknowledged=acknowledged),
                "title": "Previous page",
                "label": "Page " + ((current_page-1)|string)
              } if prev_page_exists or False,
              next_page = {
                "url": url_for(".service_update_audits", page=current_page+1, acknowledged=acknowledged),
                "title": "Next page",
                "label": "Page " + ((current_page+1)|string)
              } if next_page_exists or False
            %}
              {% include "toolkit/previous-next-navigation.html" %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
