{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}
{% block page_title %}
  Digital Marketplace admin
{% endblock %}

{% set csrf = csrf_token() %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "label": "Audits",
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}
{% block main_content %}
    {%
      with
      smaller = true,
      heading = today|dateformat,
      context = "Activity for"
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}
    <div class="grid-row">
        {% if form.errors|length >= 1 %}
          <div class="validation-masthead" aria-labelledby="validation-masthead-heading">
              <h3 class="validation-masthead-heading" id="validation-masthead-heading">
                  There was a problem with your answer to the following questions
              </h3>
              {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                  <a href="#example-textbox" class="validation-masthead-link">{{ form[field_name].label }}</a>
                {% endfor %}
              {% endfor %}
          </div>
        {% endif %}

        <div class="column-one-whole">
            {% call(item) summary.list_table(
              audit_events,
              caption="Audit events",
              empty_message="No audit events found",
              field_headings=[
                'Supplier',
                'Date',
                'Service ID',
                summary.hidden_field_heading("Changes"),
                summary.hidden_field_heading("Action")
              ],
              field_headings_visible=True
            ) %}
              {% call summary.row() %}
                {{ summary.field_name(item.data.supplierName) }}
                {% call summary.field() %}
                  {{ item.createdAt|timeformat }}
                  <br/>
                  {{ item.createdAt|shortdateformat }}
                {% endcall %}
                {% call summary.field() %}
                  {{ item.data.serviceId }}
                {% endcall %}
                {{ summary.edit_link(
                  "View changes",
                  url_for(
                    '.compare',
                    old_archived_service_id=item.data.oldArchivedServiceId,
                    new_archived_service_id=item.data.newArchivedServiceId
                  )
                ) }}
                {% call summary.field(action=True) %}

                  {% if item.acknowledged %}
                    {{ item.acknowledgedBy }}
                    <br/>
                    {{ item.createdAt|timeformat }}
                    <br/>
                    {{ item.createdAt|shortdateformat }}
                  {% elif current_user.has_role('admin') %}
                    <form action="{{ url_for('.submit_service_update_acknowledgment', audit_id=item.id) }}" method="post">
                        <div style="display:none;">
                            <input name="csrf_token" type="hidden" value="{{ csrf }}">
                            <input name="acknowledged" type="hidden" value="{{ acknowledged }}">
                            <input name="audit_date" type="hidden" value="{% if form.audit_date.data %}{{ form.audit_date.data }}{% endif %}">
                        </div>
                        <button class="button-secondary">Acknowledge</button>
                    </form>
                  {% endif %}
                {% endcall %}
              {% endcall %}
            {% endcall %}

            {%
              with
              previous_page = {
                "url": url_for(".service_update_audits", page=current_page-1, acknowledged=acknowledged),
                "title": "Previous page",
                "label": "Page " + ((current_page-1)|string)
              } if prev_page_exists or False,
              next_page = {
                "url": url_for(".service_update_audits", page=current_page+1, acknowledged=acknowledged),
                "title": "Next page",
                "label": "Page " + ((current_page+1)|string)
              } if next_page_exists or False
            %}
              {% include "toolkit/previous-next-navigation.html" %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
