{% extends "_base_page.html" %}
{% import "toolkit/summary-table.html" as summary %}

{% block page_title %}
  {{ supplier.name }} - Digital Marketplace admin
{% endblock %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": supplier.name
      }
    ]
  }) }}
{% endblock %}

{% block main_content %}
  <h1 class="govuk-heading-xl">{{ supplier.name }}</h1>

  {% if current_user.has_any_role('admin', 'admin-ccs-category', 'admin-ccs-data-controller') %}
  <p><a href="{{ url_for('.edit_supplier_name', supplier_id=supplier_id) }}">Edit supplier name</a></p>
  {% endif %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{ summary.heading("Company details") }}
      {% if current_user.has_role('admin-ccs-data-controller') %}
      <p class="padding-bottom-small">
        Change the company details on ‘{{ supplier.name }}’s Digital Marketplace account.
      </p>
      <p class="padding-bottom-small">
        These details do not get updated on the supplier’s framework agreement. Contact <a href="mailto:ccsrequests@digitalmarketplace.service.gov.uk">ccsrequests@digitalmarketplace.service.gov.uk</a>
        to update details on the framework agreement.
      </p>
      <p class="padding-bottom-small">
        This usually takes 5 days. ‘{{ supplier.name }}’ can’t sign their agreement until it is updated.
      </p>
      {% endif %}
      {% with
        caption = 'Company details for supplier account'
      %}
        {% include "suppliers/_company_details_table.html" %}
      {% endwith %}
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-whole">
      {{ summary.heading("Frameworks") }}
      {% include "suppliers/_frameworks_table.html" %}
    </div>
  </div>

  {% if not current_user.has_role('admin-ccs-sourcing') %}
  <div class="grid-row">
    <div class="column-one-whole">
      {{ summary.heading("Users") }}
      <a href="{{ url_for('.find_supplier_users', supplier_id=supplier_id) }}">Users</a>
    </div>
  </div>
  {% endif %}

{% endblock %}
