{% extends "_base_page.html" %}

{% block pageTitle %}
  Download lists of potential user research participants - Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Download lists of potential user research participants"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Download lists of potential user research participants</h1>
  <p class="govuk-body">
    Lists are generated daily. Check you've got the most recent version of the list before you contact users.
  </p>

  {%
    with
    items = items
  %}
    {% include "toolkit/documents.html" %}
  {% endwith %}
{% endblock %}
