{% extends "_base_page.html" %}

{% block page_title %}
  Download lists of potential user research participants - Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {%
    with heading = "Download lists of potential user research participants"
  %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}
    <p class="lede">
    Lists are generated daily. Check you've got the most recent version of the list before you contact users.
</p><br>

  {%
    with
    items = items
  %}
    {% include "toolkit/documents.html" %}
  {% endwith %}
{% endblock %}
