{% import 'macros/answers.html' as answers %}
{% from 'macros/breadcrumb.html' import breadcrumb as breadcrumb %}
{% from 'macros/page_heading.html' import page_heading %}

{% extends "_base_page.html" %}
{% block page_title %}
  {{ supplier.name }} – Digital Marketplace admin
{% endblock %}

{% block content %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "label": supplier.name
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
  <div class="page-container">
    {% if services|length <= 0 %}
      <h2 class="summary-item-heading first-summary-item-heading">
        No services
      </h2>
      <p class="hint summary-item-no-content">
        This supplier has no services on the digital marketplace
      </p>
    {% else %}
    <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Framework
        </th>
        <th scope="col">
          Lot
        </th>
        <th scope="col">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
    {% for service in services %}
      <tr class="summary-item-row">
        <td class="summary-item-field-name-wider">
          <a href="https://www.digitalmarketplace.service.gov.uk/service/{{ service.id.lower() }}">
            {{ service.serviceName }}
          </a>
        </td>
        <td class="summary-item-field">
          {{ service.frameworkName}}
        </td>
        <td class="summary-item-field">
          {{ service.lot}}
        </td>
        <td class="summary-item-field service-status-{{ service.status }}">
          {% if service.status == "published" %}
            Public
          {% elif service.status == "enabled" %}
            Private
          {% elif service.status == "disabled" %}
            Removed
          {% else %}
            {{ service.status|title }}
          {% endif %}
        </td>
        <td class="summary-item-action-field">
          <a href="{{ url_for('.view', service_id=service.id) }}">
            {{ 'Details' if service.status == 'disabled' else 'Edit' }}
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
      {% endif %}

  </div>
{% endblock %}