{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
  Buyers – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
{%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
      ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

  {% block main_content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
          {% if message == 'no_team_id' %}
              {% set displayed_message = "There are no teams that exist with ID {}".format(team_id) %}
          {% endif %}
          {%
            with
                message = displayed_message,
                type = "destructive" if category == 'error' else "success"
            %}
   <div class={{ "callout--warning" if category == 'error' else "callout" }}>
                {% include "toolkit/notification-banner.html" %}
   </div>
          {% endwith %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div> 
    <br> 
    <h3>List of Teams</h3>
    {% call(item) summary.list_table(
      teams,
      field_headings=[
        'Agency Name',
        'Team ID',
        'Team Name',
        'Team Status'
      ],
      field_headings_visible=True)
  %}
    {% call summary.row() %}
      {{ summary.text(item.agency_name) }}
      {% call summary.field() %}
        <a href="{{ url_for('.find_team_by_team_id', team_id = item.team_id) }}" class="question">{{ item.team_id }}</a> 
      {% endcall %}
        {{ summary.text(item.team_name) }}
        {{ summary.text(item.status) }}
      {% endcall %}
    {% endcall %}
  </div>

{% endblock %}
