{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

  {% with heading = "Suppliers" %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <div class="page-section">
    {% if current_user.has_role("admin-ccs-sourcing") %}
      {% include "_view_suppliers_agreements.html" %}
    {% else %}
      {% include "_view_suppliers_edit_list.html" %}
    {% endif %}
  </div>
{% endblock %}
