{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
  Buyers – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
{%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
      ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

  {% block main_content %}
  <div>
    <h3>Team Details</h3>
    Team ID: {{team_id}}
    <br/>
    Team Name: {{team.name}}
    <br/> 
    Team Email Address : {{team.emailAddress}}
  </div>

<div> 
  <br> 
  <h3> Team Leads Table</h3>
  {% call(item) summary.list_table(
    team_leads,
    field_headings=[
      'Name',                    
      'Email Address',
    ],
    field_headings_visible=True)
%}
  {% call summary.row() %}
    {{ summary.text(item.name) }}
    {% call summary.field() %}
      <a href="{{ url_for('.find_user_by_email_address', email_address = item.emailAddress)}}" class="question">{{ item.emailAddress}}</a>    
    {% endcall %}
  {% endcall %}
{% endcall %}

<h3> Team Members' Permissions</h3>
{% call(item) summary.list_table(
  team_members,
  field_headings=[  
  'Name',                   
  'Email Address',
  'Download Reports',
  'Publish Opportunities',
  'Create Drafts',
  'Download Responses',
  'Answer Seller Questions', 
  'Create Work Orders'
  ],
  field_headings_visible=True)
%}
{% call summary.row() %}

    {{ summary.text(item.name) }}
    {% call summary.field() %}
      <a href="{{ url_for('.find_user_by_email_address', email_address = item.emailAddress)}}" class="question">{{ item.emailAddress}}</a> 
    {% endcall %}

    {% call summary.field() %}
      {{ item.permissions['download_reports'] }}
    {% endcall %}

    {% call summary.field() %}
      {{ item.permissions['publish_opportunities'] }}
    {% endcall %}

    {% call summary.field() %}
      {{ item.permissions['create_drafts'] }}
    {% endcall %}

    {% call summary.field() %}
      {{ item.permissions['download_responses'] }}
    {% endcall %}

    {% call summary.field() %}
      {{ item.permissions['answer_seller_questions'] }}
    {% endcall %}

    {% call summary.field() %}
      {{ item.permissions['create_work_orders'] }}
    {% endcall %}

    {% endcall %}
    {% endcall %}
</div>

<div>
  <h3> Team Briefs</h3>
      <table>
      {% for b in briefs %}
            <tr>
              <td> <a href="{{ url_for('.find_buyer_by_brief_id', brief_id=b.brief_id) }}" class="question">{{ b.brief_id }}</a></td>
              <td>{{ b.name }}</td>
            </tr>
      {% endfor %}
      </table>
</div>

  {% endblock %}
