{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
  {{ supplier.name }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
          {
              "label": supplier.name
          }
      ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}


  {% with heading = supplier.name %}
  {% include "toolkit/page-heading.html" %}
  {% endwith %}


  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
    <div class="banner-destructive-without-action">
  {% elif category == 'success' %}
    <div class="banner-success-without-action">
  {% endif %}
        <p class="banner-message">
  {% if message == 'user_invited' %}
      User invited
  {% elif message == 'user_not_invited' %}
      Not Invited
  {% elif message == 'user_moved' %}
      User moved to this supplier
  {% elif message == 'user_not_moved' %}
      User not moved to this supplier - please check you entered the address of an existing supplier user
  {% endif %}
        </p>
    </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class='page-section'>
      {% call(item) summary.list_table(
          users,
          caption="Users",
          empty_message="This supplier has no users on the Digital Marketplace",
          field_headings=[
              'Name',
              'Email address',
              'Last login',
              'Last password change',
              'Locked',
              summary.hidden_field_heading("") if current_user.has_role('admin') else "Status"
          ],
          field_headings_visible=True)
      %}
      {% call summary.row() %}

      {{ summary.field_name(item.name) }}

      {{ summary.text(item.emailAddress) }}

      {% call summary.field() %}
          {% if item.loggedInAt %}
              {{ item.loggedInAt|mediumtimeformat + ' ' + item.loggedInAt|mediumdateformat }}
          {% else %}
              Never
          {% endif %}
      {% endcall %}

      {% call summary.field() %}
          {% if item.passwordChangedAt %}
              {{ item.passwordChangedAt|mediumtimeformat + ' ' + item.passwordChangedAt|mediumdateformat }}
          {% else %}
              Never
          {% endif %}
      {% endcall %}

      {% call summary.field() %}
      {% if item.locked and current_user.has_role('admin') %}
      <form action="{{ url_for('.unlock_user', user_id=item.id) }}" method="post">
          {{ form.csrf_token }}
          {%
              with
              type = "secondary",
              label = "Unlock"
          %}
          {% include "toolkit/button.html" %}
          {% endwith %}
      </form>
      {% elif item.locked %}
          Yes
      {% else %}
          No
      {% endif %}
      {% endcall %}

      {% call summary.field() %}
      {% if item.active %}
        {% if current_user.has_role('admin') %}
          <a href="{{ url_for('.reset_password', user_id=item.id) }}">Reset Password</a>

          <form action="{{ url_for('.deactivate_user', user_id=item.id) }}" method="post">
              {{ form.csrf_token }}
              {%
                  with
                  type = "destructive",
                  label = "Deactivate"
              %}
              {% include "toolkit/button.html" %}
              {% endwith %}
          </form>
        {% else %}
          Active
        {% endif %}
      {% else %}
        {% if current_user.has_role('admin') %}
          <form action="{{ url_for('.activate_user', user_id=item.id) }}" method="post">
              {{ form.csrf_token }}
              {%
                  with
                  type = "secondary",
                  label = "Activate"
              %}
              {% include "toolkit/button.html" %}
              {% endwith %}
          </form>
        {% else %}
          Deactivated
        {% endif %}
      {% endif %}
      {% endcall %}
      {% endcall %}
      {% endcall %}
  </div>


  {% if current_user.has_role('admin') %}
  <div class='page-section'>
      <form action="{{ url_for('.invite_user', supplier_code=supplier.code) }}" method="post">
          {{ form.csrf_token }}
          <div class="grid-row">
              <div class="column-two-thirds">
                  {% if invite_form.name.errors %}
                  <div class="validation-wrapper">
                  {% endif %}
                      <div class="question">
                          {{ invite_form.name.label(class="question-heading-with-hint") }}
                          <p class="hint">
                              Enter the name of the person you wish to invite
                          </p>
                          {% if invite_form.name.errors %}
                          <p class="validation-message" id="error-name-textbox">
                              {% for error in invite_form.name.errors %}{{ error }}{% endfor %}
                          </p>
                          {% endif %}
                          {{ invite_form.name(class="text-box", autocomplete="off") }}
                      </div>
                  {% if invite_form.name.errors %}
                  </div>
                  {% endif %}
                  {% if invite_form.email_address.errors %}
                  <div class="validation-wrapper">
                  {% endif %}
                      <div class="question">
                          {{ invite_form.email_address.label(class="question-heading-with-hint") }}
                          <p class="hint">
                              Enter the email address of the person you wish to invite
                          </p>
                          {% if invite_form.email_address.errors %}
                          <p class="validation-message" id="error-email-address-textbox">
                              {% for error in invite_form.email_address.errors %}{{ error }}{% endfor %}
                          </p>
                          {% endif %}
                          {{ invite_form.email_address(class="text-box", autocomplete="off") }}
                      </div>
                  {% if invite_form.email_address.errors %}
                  </div>
                  {% endif %}
                 <button class="button-save">Send invitation</button>
              </div>
          </div>
      </form>
  </div>

    <div class='page-section'>
        <form action="{{ url_for('.move_user_to_new_supplier', supplier_code=supplier.code) }}" method="post">
            {{ form.csrf_token }}
            <div class="grid-row">
                <div class="column-two-thirds">
                    {% if move_user_form.user_to_move_email_address.errors %}
                    <div class="validation-wrapper">
                        {% endif %}
                        <div class="question">
                            {{ move_user_form.user_to_move_email_address.label(class="question-heading-with-hint") }}
                            <p class="hint">
                                Enter the email address of the existing user you wish to move to this supplier
                            </p>
                            {% if move_user_form.user_to_move_email_address.errors %}
                            <p class="validation-message" id="error-email-address-textbox">
                                {% for error in move_user_form.user_to_move_email_address.errors %}{{ error }}{% endfor %}
                            </p>
                            {% endif %}
                            {{ move_user_form.user_to_move_email_address(class="text-box", autocomplete="off") }}
                        </div>
                        {% if move_user_form.user_to_move_email_address.errors %}
                    </div>
                    {% endif %}
                    <button class="button-save">Move user to this supplier</button>
                </div>
            </div>
        </form>
    </div>
  {% endif %}
{% endblock %}
