{% extends "_base_page.html" %}
{% block page_title %}
  {{ service_data['serviceName'] }} – Digital Marketplace admin
{% endblock %}

{% block content %}
  <div id="global-breadcrumb">
    <nav>
      <ol>
        <li>
          <a href="/" alt="Back to home">Home</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="page-container">
    {% if service_data %}
        <div class="grid-row">
          <div class="service-title">
            <header class="page-heading-smaller">
              <p class="context">
                {{ service_data['supplierName'] }}
              </p>
              <h1>{{ service_data['serviceName'] }}</h1>
            </header>
          </div>
          <div class="service-view">
            <a href="https://www.digitalmarketplace.service.gov.uk/service/{{ service_data['id'] }}">View service</a>
          </div>
        </div>

        {% for section in sections %}
            <h2 class="summary-item-heading">
              {{section.name}}
            </h2>
            {% if section.editable %}
              <p class="summary-item-top-level-action">
                <a href="/service/{{ service_data['id'] }}/edit/{{section.id}}">Edit</a>
              </p>
            {% endif %}
            <table class="summary-item-body">
              <thead class="summary-item-field-headings">
                <tr>
                  <th>Service attribute name</th><th>Service attribute</th>
                </tr>
              </thead>
              <tbody class="summary-item-body">
                {% for question in section.questions %}
                  <tr class="summary-item-row">
                    <td class="summary-item-field-name">{{ question.question }}</td>
                    <td class="summary-item-field-content">
                      <a href="{{ service_data[question.id] }}">{{ service_data[question.id] }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endfor %}

    {% else %}
    <h1>Error</h1>
    <p>
      No service data
    </p>
    {% endif %}
  </div>
{% endblock %}
