{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          }
      ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

  {% with heading = "Uploaded {} framework agreements".format(framework.name) %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  {% set field_headings = [
    "Supplier name",
    "Date uploaded",
    summary.hidden_field_heading("Download supplier declaration"),
  ] %}
  {% call(supplier_framework) summary.list_table(
    supplier_frameworks,
    caption="Uploaded {} framework agreements".format(framework.name),
    empty_message="No agreements have been uploaded",
    field_headings=field_headings,
    field_headings_visible=True)
  %}
    {% call summary.row() %}
      {{ summary.field_name(supplier_framework.supplierName) }}
      {{ summary.field_name(supplier_framework.agreementReturnedAt) }}
      {% call summary.field(wide=True) %}
        <a href="{{ url_for('.download_agreement_file', supplier_code=supplier_framework.supplierId, framework_slug=framework.slug, document_name=signed_agreement_prefix) }}" download>Download agreement</a>
      {% endcall %}
    {% endcall %}
  {% endcall %}

{% endblock %}
