{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          }
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

  {% with heading = "Suppliers" %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}

  <div class="page-section">
    {% if current_user.has_role("admin") %}
      {% set field_headings = [
        "Name",
        summary.hidden_field_heading("Change name"),
        summary.hidden_field_heading("Users"),
        summary.hidden_field_heading("Services"),
      ] %}
    {% elif current_user.has_role("admin-ccs-sourcing") %}
      {% set field_headings = [
        "Name",
        "G-Cloud 7",
        "Digital Outcomes<br />and Specialists"|safe,
        "G-Cloud 8",
      ] %}
    {% else %}
      {% set field_headings = [
        "Name",
        summary.hidden_field_heading("Users"),
        summary.hidden_field_heading("Services"),
      ] %}
    {% endif %}

    {% call(item) summary.list_table(
      suppliers,
      caption="Suppliers",
      empty_message="No suppliers were found",
      field_headings=field_headings,
      field_headings_visible=True)
    %}
      {% call summary.row() %}
        {{ summary.field_name(item.name) }}
        {% if current_user.has_role('admin') %}
          {{ summary.edit_link("Change name", url_for(".edit_supplier_name", supplier_id=item.id)) }}
        {% endif %}
        {% if current_user.has_role('admin-ccs-sourcing') %}
          {% call summary.field() %}
            <div><a href="{{ url_for(".view_supplier_declaration", supplier_id=item.id, framework_slug="g-cloud-7") }}">Edit declaration</a></div>
            <div>⬇ <a href="{{ url_for(".download_agreement_file", supplier_id=item.id, framework_slug="g-cloud-7", document_name=agreement_prefix) }}">Agreement</a></div>
            <div>⬇ <a href="{{ url_for(".download_agreement_file", supplier_id=item.id, framework_slug="g-cloud-7", document_name=signed_agreement_prefix) }}">Signed agreement</a></div>
            <div>⬆ <a href="{{ url_for(".list_countersigned_agreement_file", supplier_id=item.id, framework_slug="g-cloud-7") }}">Countersigned agreement</a></div>
          {% endcall %}
          {% call summary.field() %}
            <div><a href="{{ url_for(".view_supplier_declaration", supplier_id=item.id, framework_slug="digital-outcomes-and-specialists") }}">Edit declaration</a></div>
            <div>⬇ <a href="{{ url_for(".download_agreement_file", supplier_id=item.id, framework_slug="digital-outcomes-and-specialists", document_name=agreement_prefix) }}" >Agreement</a></div>
            <div>⬇ <a href="{{ url_for(".download_agreement_file", supplier_id=item.id, framework_slug="digital-outcomes-and-specialists", document_name=signed_agreement_prefix) }}">Signed agreement</a></div>
            <div>⬆ <a href="{{ url_for(".list_countersigned_agreement_file", supplier_id=item.id, framework_slug="digital-outcomes-and-specialists") }}">Countersigned agreement</a></div>
          {% endcall %}
          {% call summary.field() %}
            <div><a href="{{ url_for(".view_supplier_declaration", supplier_id=item.id, framework_slug="g-cloud-8") }}">Edit declaration</a></div>
          {% endcall %}
        {% endif %}
        {% if current_user.has_any_role('admin', 'admin-ccs-category') %}
          {{ summary.edit_link("Users", url_for(".find_supplier_users", supplier_id=item.id)) }}
          {{ summary.edit_link("Services", url_for(".find_supplier_services", supplier_id=item.id)) }}
        {% endif %}
      {% endcall %}
    {% endcall %}
  </div>
{% endblock %}
