{% import "toolkit/summary-table.html" as summary %}
{% import 'macros/answers.html' as answers %}

{% extends "_base_page.html" %}

{% block page_title %}
    {{ supplier.name }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
    {%
        with items = [
            {
                "link": url_for('.index'),
                "label": "Admin home"
            },
            {
                "label": supplier.name
            }
        ]
    %}
    {% include "_breadcrumb.html" %}
    {% endwith %}
{% endblock %}
{% block main_class %}supplier-services-view{% endblock %}
{% block main_content %}
    {% with heading = "Services" %}
        {% include "toolkit/page-heading.html" %}
    {% endwith %}

    <h3>Assessed</h3>
    <h4>Pricing</h4>
    <div class='page-section'>
        {% call(sd) summary.list_table(
            assessed,
            caption="Services",
            empty_message="This supplier has no services on the Digital Marketplace",
            field_headings=[
                'Service',
                'Status',
                'Price Min',
                'Price Max',
                'Price',
                'Price Status',
                'Actions'
            ],
            field_headings_visible=True)
        %}

        {% call summary.row() %}
            {{ summary.text(sd.domain_name) }}
            {{ summary.text(sd.status) }}
            {{ summary.text(sd.domain_price_minimum) }}
            {{ summary.text(sd.domain_price_maximum) }}
            {{ summary.text(sd.price) }}
            {{ summary.text(sd.price_status) }}
            <td>
                <span>
                    <form method="post">
                        {{ form.csrf_token }}
                        <button type="submit"
                                class="button-secondary"
                                formaction={{ url_for(".update_supplier_domain_price_status", supplier_code=supplier.code, supplier_domain_id=sd.id, price_status='approved') }}>Approve price</button>
                        <button type="submit"
                                class="button-secondary"
                                formaction={{ url_for(".update_supplier_domain_price_status", supplier_code=supplier.code, supplier_domain_id=sd.id, price_status='rejected') }}>Reject price</button>
                    </form>
                </span>
            </td>
        {% endcall %}
        {% endcall %}
    </div>
    <p>
        <h4>Assessments that were rejected</h4>
        {% if assessments_rejected|length > 0 %}
        <ul>
            {% for assessment in assessments_rejected %}
            <li>
                <a href="/admin/evidence-assessments/{{ assessment.id }}/previous" target="_blank">
                    {{ assessment.domain_name }} rejected on {{ assessment.rejected_at }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None.</p>
        {% endif %}
    </p>
    <p>
        <h4>Assessments that were approved</h4>
        {% if assessments_approved|length > 0 %}
        <ul>
            {% for assessment in assessments_approved %}
            <li>
                <a href="/admin/evidence-assessments/{{ assessment.id }}/previous" target="_blank">
                    {{ assessment.domain_name }} approved on {{ assessment.approved_at }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>None.</p>
        {% endif %}
    </p>

    <h3>Unassessed</h3>

    <div class='page-section'>
        <p>
            <h4>Assessments in draft</h4>
            {% if assessments_draft|length > 0 %}
            <ul>
                {% for assessment in assessments_draft %}
                <li>
                    {{ assessment.domain_name }} started on {{ assessment.created_at }}
                    <form id="delete_evidence_{{ form_suffix }}" action="{{ url_for('.evidence_delete_draft', evidence_id=assessment.id, supplier_code=assessment.supplier_code )}}" method="post">
                        {{ form.csrf_token }}
                        {%
                            with
                            label = "Delete draft"
                        %}
                        {% include "toolkit/button.html" %}
                        {% endwith %}
                    </form>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>None.</p>
            {% endif %}
        </p>
        <p>
            <h4>Assessments submitted and waiting review</h4>
            {% if assessments_submitted|length > 0 %}
            <ul>
                {% for assessment in assessments_submitted %}
                <li>
                    <a href="/admin/evidence-assessments/{{ assessment.id }}" target="_blank">
                        {{ assessment.domain_name }} submitted on {{ assessment.submitted_at }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>None.</p>
            {% endif %}
        </p>
        {% if supplier.domains.unassessed|length > 0 %}
        <p>
            <h4>Trigger legacy assessments</h4>
        </p>
        {% endif %}
        {% call(domain) summary.list_table(
            supplier.domains.unassessed,
            caption="Services to assess",
            empty_message="This supplier has no services to assess",
            field_headings=[
                'Service',
                'Brief ID',
                'Action'
            ],
            field_headings_visible=True)
        %}

        {% call summary.row() %}
            {{ summary.field_name(domain) }}

            {% set form_suffix = domain.replace(' ', '_').replace(',', '_') %}
            {% set form_suffix = form_suffix.lower() %}

            {% call summary.field() %}
                <input form="assess_domain_{{ form_suffix }}" name="brief_id" type="number" autofocus />    
            {% endcall %}        
            
            {% call summary.field() %}
            <form id="assess_domain_{{ form_suffix }}" action="{{ url_for('.trigger_assessment') }}" method="post">
                {{ form.csrf_token }}
                {%
                    with
                    label = "Assess"
                %}
                {% include "toolkit/button.html" %}
                {% endwith %}

                <input name="domain_name" type="hidden" value="{{ domain }}" />
                <input name="supplier_code" type="hidden" value="{{ supplier.code }}" />
            </form>
            {% endcall %}
        {% endcall %}
        {% endcall %}
    </div>
{% endblock %}
