{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
    Buyers – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
      with items = [
          {
              "link": url_for('.index'),
              "label": "Admin home"
          },
      ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
          {% if message == 'no_opportunity' %}
              {% set displayed_message = "Sorry, we couldn't find an opportunity with the ID: {}".format(opportunity_id) %}
          {% endif %}
          {%
          with
              message = displayed_message,
              type = "destructive" if category == 'error' else "success"
          %}
          {% include "toolkit/notification-banner.html" %}
          {% endwith %}
      {% endfor %}
  {% endif %}
  {% endwith %}

  {% with heading = opportunity_id + ' - ' + title if title %}
  {% include "toolkit/page-heading.html" %}
  {% endwith %}

  {% call(item) summary.list_table(
          users,
          caption="Buyers",
          empty_message="No buyers to show",
          field_headings=[
              'Name',
              'Email',
              'Phone number'
          ],
          field_headings_visible=True)
      %}

      {% call summary.row() %}

        {{ summary.field_name(item.name) }}

        {% call summary.field() %}
          {{ item.emailAddress }}
        {% endcall %}

        {% call summary.field() %}
          {{ item.phoneNumber }}
        {% endcall %}


      {% endcall %}

  {% endcall %}

  <br>

  <form action="{{ url_for('.find_buyer_by_opportunity_id') }}" method="get" class="question">
      <label class="question-heading" for="email_address">Find buyer by opportunity ID</label>
      <p class='hint'>
        Opportunity IDs are digits
      </p>
      <input type="text" name="opportunity_id" id="opportunity_id" class="text-box">
      <input type="submit" value="Search" class="button-save">
  </form>
  </div>

{% endblock %}
