{% extends "_base_page.html" %}

{% block pageTitle %}
    Find a user – Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Find a user"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Find a user</h1>

  <form action="{{ url_for('.find_user_by_email_address') }}" method="get" class="question" novalidate>
    {{ govukInput({
      "label": {
        "text": "Find a user by email",
        "classes": "govuk-label--m",
      },
      "id": "input-email_address",
      "name": "email_address",
    })}}

    {{ govukButton({
      "text": "Search"
    }) }}

  </form>

  {% if users %}
    {% set ns = namespace(rows = []) %}
    {% for user in users %}

      {% set name %}
        {% if current_user.has_any_role('admin') %}
          <a class="govuk-link" href="{{ url_for('.change_user_name', user_id=user.id) }}">{{ user.name }}</a>
        {% else %}
          {{ user.name }}
        {% endif %}
      {% endset %}

      {% set supplier %}
        {% if user.role == 'supplier' %}
          <a class="govuk-link" href="{{ url_for('.find_suppliers', supplier_id=user.supplier.supplierId) }}">{{ user.supplier.name }}</a>
        {% endif %}
      {% endset %}

      {% set logged_in_at %}
        {% if user.loggedInAt %}
          {{ user.loggedInAt|timeformat }}<br/>
          {{ user.loggedInAt|dateformat }}
        {% else %}
          Never
        {% endif %}
      {% endset %}

      {% set password_changed_at %}
        {% if user.passwordChangedAt %}
          {{ user.passwordChangedAt|timeformat }}<br/>
          {{ user.passwordChangedAt|dateformat }}
        {% else %}
          Never
        {% endif %}
      {% endset %}

      {% set locked %}
        {% if user.locked and current_user.has_any_role('admin', 'admin-ccs-category') and not user.personalDataRemoved %}
          <form action="{{ url_for('.unlock_user', user_id=user.id) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="source" value="{{ url_for('.find_user_by_email_address', email_address=email_address) }}"/>
            {{ govukButton({
              "classes": "govuk-button--secondary",
              "text": "Unlock"
            }) }}
          </form>
        {% elif user.locked %}
          Yes
        {% else %}
          No
        {% endif %}
      {% endset %}

      {% set change_status %}
        {% if user.active %}
          {% if current_user.has_any_role('admin', 'admin-ccs-category') %}
            <form action="{{ url_for('.deactivate_user', user_id=user.id) }}" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="source" value="{{ url_for('.find_user_by_email_address', email_address=email_address) }}"/>
              {{ govukButton({
                "classes": "govuk-button--warning govuk-!-margin-bottom-0",
                "text": "Deactivate"
              }) }}
            </form>
          {% else %}
            Active
          {% endif %}
        {% else %}
          {% if current_user.has_any_role('admin', 'admin-ccs-category') and not user.personalDataRemoved %}
            <form action="{{ url_for('.activate_user', user_id=user.id) }}" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="source" value="{{ url_for('.find_user_by_email_address', email_address=email_address) }}"/>
              {{ govukButton({
                "classes": "govuk-button--secondary govuk-!-margin-bottom-0",
                "text": "Activate"
              }) }}
            </form>
          {% else %}
            Deactivated
          {% endif %}
        {% endif %}
      {% endset %}

      {% set row = ns.rows.append(
        [
          {"html": name},
          {"text": user.role},
          {"html": supplier},
          {"html": logged_in_at},
          {"html": password_changed_at},
          {"html": locked},
          {"html": change_status},
        ]
      ) %}
    {% endfor %}

    {{ govukTable({
      'head': [
        {'text': 'Name'},
        {'text': 'Role'},
        {'text': 'Supplier'},
        {'text': 'Last login'},
        {'text': 'Last password change'},
        {'text': 'Locked'},
        {'text': 'Change status'},
      ],
      'rows': ns.rows,
    }) }}
  {% else %}
    <p class="govuk-body">No users to show</p>
  {% endif %}
{% endblock %}
