{% import "toolkit/summary-table.html" as summary %}
{% import 'macros/answers.html' as answers %}

{% extends "_base_page.html" %}
{% block page_title %}
  {{ service_data['serviceName'] or service_data['frameworkName'] + ' - ' + service_data['lotName'] }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "link": url_for(".find_supplier_services", supplier_id=service_data['supplierId']),
        "label": service_data['supplierName']
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
            <div class="banner-destructive-without-action">
        {% else %}
            <div class="banner-success-without-action">
        {% endif %}
        <p class="banner-message">
          {% if message['bad_status'] %}
            Not a valid status: '{{ message['bad_status'] }}'
          {% elif message['status_error'] %}
            Error trying to update status of service: {{ message['status_error'] }}
          {% elif message['status_updated'] %}
            Service status has been updated to: {{ message['status_updated']|title }}
          {% endif %}
        </p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

{% if service_data['status'] != 'published' and removed_by %}
<div class="grid-row">
  <div class="column-one-whole">
    {%
      with
      type = "temporary-message",
      heading = "Removed by {} on ".format(removed_by) + "{}.".format(removed_at|dateformat)|nbsp
    %}
      {% include "toolkit/notification-banner.html" %}
    {% endwith %}
  </div>
</div>
{% endif %}

  {% if service_data %}
    {%
      with
      context = service_data['supplierName'],
      heading = service_data['serviceName'] or service_data['frameworkName'] + ' - ' + service_data['lotName'],
      smaller = True
    %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}

    {% if service_data['frameworkFramework'] == 'g-cloud' %}
      {%
        with
        url = "/{}/services/{}".format(service_data['frameworkFramework'], service_id),
        text = "View service"
      %}
        {% include "toolkit/secondary-action-link.html" %}
      {% endwith %}
    {% endif %}

    {% for section in sections %}
      {{ summary.heading(section.name) }}
      {% if section.editable %}
        {{ summary.top_link("Edit", url_for('.edit', service_id=service_id, section_id=section.id)) }}
      {% endif %}
      {% call(question) summary.list_table(
        section.questions,
        caption="Services",
        empty_message="This supplier has no services on the Digital Marketplace",
        field_headings=[
          'Service attribute name',
          'Service attribute'
        ],
        field_headings_visible=False
      ) %}
        {% call summary.row() %}
          {{ summary.field_name(question.label) }}
          {{ summary[question.type](question.value, question.assurance) }}
          {% if section.edit_questions %}
            {{ summary.edit_link('Add' if question.is_empty else 'Edit', url_for('.edit', service_id=service_id, section_id=section.id, question_slug=question.slug)) }}
          {% endif %}

        {% endcall %}
      {% endcall %}
    {% endfor %}

    <form action="{{ url_for('.update_service_status', service_id=service_id ) }}" method="post">
        <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}"></div>
        <fieldset class="question">
            <legend class="question-heading">
                Service status
            </legend>
            <label class="selection-button">
                <input type="radio" name="service_status" id="service_status_disabled" value="removed" {% if service_data['status'] == 'disabled' %}checked="checked"{% endif %} />
                Removed
            </label>
            <label class="selection-button">
                <input type="radio" name="service_status" id="service_status_private" value="private" {% if service_data['status'] == 'enabled' %}checked="checked"{% endif %} />
                Private
            </label>
            {% if service_data.status != 'disabled' %}
            <label class="selection-button">
                <input type="radio" name="service_status" id="service_status_published" value="public" {% if service_data['status'] == 'published' %}checked="checked"{% endif %} />
                Public
            </label>
            {% endif %}
        </fieldset>
        <button type="submit" class="button-save">Update status</button>
    </form>

  {% else %}
    <h1>Error</h1>
    <p>
      No service data
    </p>
  {% endif %}
{% endblock %}
