{% extends "_base_page.html" %}

{% block pageTitle %}
  View frameworks - Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "View frameworks"
      }
    ]
  }) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Frameworks</h1>

    {% set ns = namespace(rows = []) %}
    {% for framework in frameworks %}
      {% set change_link %}
        <a class="govuk-link" href="{{ url_for('.change_framework_status', framework_slug=framework.slug) }}">Change<span class="govuk-visually-hidden"> status of {{ framework.name }}</span></a>
      {% endset %}

      {% set row = ns.rows.append(
        [
          {"text": framework.name},
          {"text": framework.status},
          {"html": change_link},
        ]
      ) %}
    {% endfor %}

    {{ govukTable({
      'head': [
        {'text': 'Name'},
        {'text': 'Status'},
        {'html': '<span class="govuk-visually-hidden">Change status</span>'},
      ],
      'rows': ns.rows,
    }) }}
{% endblock %}
