{% import "toolkit/summary-table.html" as summary %}
{% import 'macros/answers.html' as answers %}

{% extends "_base_page.html" %}
{% block page_title %}
  {{ supplier.name }} – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      },
      {
        "label": supplier.name
      }
    ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}
{% block main_content %}
  {% with heading = "Services" %}
    {% include "toolkit/page-heading.html" %}
  {% endwith %}
  {% call(item) summary.list_table(
    services,
    caption="Services",
    empty_message="This supplier has no services on the Digital Marketplace",
    field_headings=[
      'Name',
      'Service ID',
      'Framework',
      'Lot',
      'Status',
      summary.hidden_field_heading("Action")
    ],
    field_headings_visible=True
  ) %}
    {% call summary.row() %}
      {{ summary.service_link(item.serviceName, '/' + item.frameworkFramework + '/services/' + item.id|string) }}
      {{ summary.text(item.id) }}
      {{ summary.text(item.frameworkName) }}
      {{ summary.text(item.lotName) }}
      {% call summary.field() %}
        <span class="service-status-{{ item.status }}">
          {% if item.status == "published" %}
            Public
          {% elif item.status == "enabled" %}
            Private
          {% elif item.status == "disabled" %}
            Removed
          {% else %}
            {{ item.status|title }}
          {% endif %}
        </span>
      {% endcall %}
      {{ summary.edit_link(
        'Details' if item.status == 'disabled' or not current_user.has_role('admin') else 'Edit',
        url_for('.view', service_id=item.id)
      ) }}
    {% endcall %}
  {% endcall %}
{% endblock %}
