{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}
{% block page_title %}
  Application Statistics – Digital Marketplace admin
{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": url_for('.index'),
        "label": "Admin home"
      }
    ]
  %}
    {% include "_breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}
  <div class="framework-statistics" {% if big_screen_mode %}id="framework-statistics-big-screen"{% endif %}>
    <div class="grid-row">
      <div class="column-two-thirds">
        {%
          with
          context = "Application",
          heading = "Statistics"
        %}
          {% include "toolkit/page-heading.html" %}
        {% endwith %}
      </div>
      <div class="column-one-third">
        {% if not big_screen_mode %}
          {%
            with
            url = '?big_screen_mode=yes',
            label = "Big screen view"
          %}
            {% include "toolkit/link-button.html" %}
          {% endwith %}
        {% endif %}
      </div>
    </div>

    {{ summary.heading("Applications by status") }}
    {% call(item) summary.list_table(
      applications_by_status,
      empty_message="Data not available",
      caption="Applications by status",
      field_headings=[
      summary.hidden_field_heading("Date and time"),
      "Created",
      "Submitted",
      "Reverted",
      "Approved"
      ],
      field_headings_visible=True
      ) %}
      {% call summary.row() %}
        {% call summary.field(first=True) %}
          {{ item.created_at[:19]|replace('T', ' ')|replace('-', '/') }}
        {% endcall %}
        {{ summary.text(item.create_application_count) }}
        {{ summary.text(item.submit_application_count) }}
        {{ summary.text(item.revert_application_count) }}
        {{ summary.text(item.approve_application_count) }}
      {% endcall %}
    {% endcall %}
<!--
 {{ summary.heading("Total domains by status") }}
    {% call(item) summary.list_table(
      applications_by_status,
      empty_message="Data not available",
      caption="Domains by status",
      field_headings=[
      summary.hidden_field_heading("Date and time"),
      "Unassessed",
      "Assessed"
      ],
      field_headings_visible=True
      ) %}
      {% call summary.row() %}
        {% call summary.field(first=True) %}
          {{ item.created_at[:19]|replace('T', ' ')|replace('-', '/') }}
        {% endcall %}
        {{ summary.text(item.unassessed_domain_count) }}
        {{ summary.text(item.assessed_domain_count) }}
      {% endcall %}
    {% endcall %}

    {{ summary.heading("Individual domains by status") }}
    {% call(item) summary.list_table(
      domains,
      empty_message="Data not available",
      caption="Domains by status",
      field_headings=[
      summary.hidden_field_heading("Domain"),
      "Assessed","Unassessed"
      ],
      field_headings_visible=True
      ) %}
      {% call summary.row() %}
        {% call summary.field(first=True) %}
          {{ item.domain }}
        {% endcall %}
        {{ summary.text(item.assessed) }}
        {{ summary.text(item.unassessed) }}
      {% endcall %}
    {% endcall %}
-->
  </div>
{% endblock %}
