{% import "toolkit/summary-table.html" as summary %}

{% extends "_base_page.html" %}

{% block page_title %}
  {{ framework.name }} framework agreements - Digital Marketplace admin
{% endblock %}

{% block breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": [
      {
        "text": "Admin home",
        "href": url_for('.index')
      },
      {
        "text": "Framework agreements"
      }
    ]
  }) }}
{% endblock %}

{% block main_content %}
  <h1 class="govuk-heading-l">{{framework.name}} framework agreements</h1>

  {% if current_user.has_role('admin-ccs-sourcing') %}
  {# ### Don't show instructions for read-only users ### #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds dmspeak">
      <p class="govuk-body">
        Review the information for each agreement, accept it, and continue to the next one.
      </p>
      <p class="govuk-body">
        If there’s a problem with an agreement, contact the person who uploaded it and come back to it later. Ask
        suppliers to resubmit from the link in the email they received after they were accepted on to the framework.
      </p>
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third search-page-filters">
      <div class="status-filters">
        <h2>Choose a status</h2>
          <ul>
            <li>
              {% if status %}<a class="govuk-link" href="{{ url_for(".list_agreements", framework_slug=framework.slug) }}">{% endif %}
                All
              {% if status %}</a>{% endif %}
            </li>
        {% for status_key, status_label in status_labels.items() %}
            <li>
              {% if status_key != status %}<a class="govuk-link" href="{{ url_for(".list_agreements", framework_slug=framework.slug, status=status_key) }}">{% endif %}
                {{ status_label }}
              {% if status_key != status %}</a>{% endif %}
            </li>
        {% endfor %}
          </ul>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% include "_view_agreements_summary.html" %}
      {% include "_view_agreements_results.html" %}
    </div>
  </div>

{% endblock %}
